[2014-11-10 16:35] Lithl opened #2 "Creating vertices and (heavyweight) edges in a transaction"
I am trying to create an extension method which, given a model object, will create vertices and edges between those vertices so that the model is accurately represented in the graph. For example, the models:

[code]

Creating a record with a Dependent object would be, essentially:

[code]

However, when I use `OTransaction#Add` to create these records, my heavyweight edges are not connected to my

[2014-11-14 21:51] #2 closed, assigned to GoorMoon

[2014-11-30 10:59] prah-net opened #3 "Connection-Pool issue when database restarts"
I'm not sure this issue has been already reported or not. Issue is

My web application is already running. Connection pool is initialized only once in a static constructor. It works fine and I can connect to database and make queries.

If I restart orient-db server, then all queries break with IOException "Unable to write data to the transport connection: An existing connection was forcibly closed

[2014-12-13 15:31] bnoffer opened #4 "default(DateTime) causes ArgumentOutOfRangeException"
When working with DateTime and setting values to its default value using default(DateTime) this results in a ArgumentOutOfRangeException. Here is the stack trace:

[code]

From what I could see it is caused by the conversion to UNIX timestamp. I currently do not have the time to investigate, but at the point where the DateTime field is converted to UNIX Timestamp there should be a check if the fie

[2014-12-13 18:19] bnoffer opened #5 "Insert(ODocument) fails whith float values, because of , decimal seperator"
My system is German with German region settings and I just encountered the following issue when trying to do inserts fields of type float:

[code]

Which results in a invalid INSERT statement like this:

[code]

I also tried declaring the float

[code]

Which did not change the SQL statement generated.

UPDATE:
Okay, I changed my system settings to English now, everything except the UI language an

[2014-12-14 06:16] #5 closed, assigned to GoorMoon

[2014-12-23 16:43] nazik opened #6 "{"Cannot write to a BufferedStream while the read buffer is not empty if the underlying stream is not seekable. Ensure that the stream underlying this BufferedStream can seek or avoid interleaving read and write operations on this BufferedStream."}"
I receive the following unhandled exception when run the console application code https://github.com/orientechnologies/OrientDB-NET.binary/blob/master/src/Orient/Orient.Console/Program.cs . Specifically, when the code tries to create a vertex at line 28. I receive the exception when  the code runs against both versions v1.711-snapshot and v2.0-rc1.

Orient.Client.OException was unhandled
  HResult

[2014-12-27 16:34] jiujiu1123 opened #7 "ReadByte issue with OrientDB 2.0rc"
I have been using this driver for version 1.7.9, but when I update to OrientDB 2.0rc, the driver can no longer be functional.
The driver just hangs when calling Response.Receive() method, More specifically on
[code]
I am using the latest version of this driver on the Master branch.

[2014-12-29 03:35] jiujiu1123 opened #8 "Can't find cluster id if cluster name and class name are different"
Lately I have to change the name for one of my class so I executed the following command.
[code]
Then when I try to access it using the following code it throws an exception.
[code]
This is a screen shot of the code that threw the exception.
![default](https://cloud.githubusercontent.com/assets/8244605/5565975/948aa11c-8f67-11e4-9b30-da5359df3faa.png)
As you can see the class name and the cluster

[2015-01-03 06:38] jersiovic opened #9 "Linq and Eniti Framework 7 support"
I would like to see you support LINQ the standard way in C# to work with data: Linq2Objects for data in memory and Linq2SQL through different ORMs. So different sources but the same language to work with them.

Under a commercial view point it is as smart as your decission of supporting SQL. We all have Apps in .NET based on NHibernate or Entity Framework which use LINQ  for accessing SQL bds. Ind

[2015-01-06 08:14] jersiovic commented on #9
Yes to develop a LINQ driver is not easy but you can do it gradually as this guy is doing with MongoD with FluentMongo'.

https://github.com/craiggwilson/fluent-mongo/wiki/Linq

He adds native support LINQ gradually.

I think it would be a good idea you start adding a minimum support to LINQ and while you are busy working in other priorities of OrientDb maybe other people interested like me can se

[2015-01-08 09:09] Sandra121289 commented on #7
The same issue occurs for me too.

[2015-01-08 12:00] jiujiu1123 commented on #7
the new version appears to be working for me

[2015-01-11 15:42] jiujiu1123 opened #12 "edge can not be Created with Transaction"
I have used your code on SO
[code]
but it will fail to "link" a new record if you want to Create another edge of that class

[2015-01-11 15:44] jiujiu1123 commented on #12
Sorry my test case was wrong

[2015-01-11 15:44] #12 closed

[2015-01-11 18:10] GoorMoon commented on #8
The problem that "ALTER CLASS Users NAME user" does not reload clusters (That i manage locally for performance). I think driver should provide reload clusters method on ODatabase class for such cases.

[2015-01-12 08:02] Sandra121289 commented on #7
Yes, for me too. The newest code version does not hang anymore :)

[2015-01-13 18:02] GoorMoon commented on #7
Thanks guys, i close this issue for now.
if someone has problem in the features please comment.

[2015-01-13 18:02] #7 closed

[2015-01-20 05:17] jersiovic commented on #9
Related to make a provider for EF7 once you have developed a LINQ provider it shouldn't be difficult to have the EF7 provider. I think you can start using as a base the in memory EF7 provider it includes but instead of saving data in memory you should save data in OrientDB

[2015-01-20 14:07] bnoffer commented on #9
The whole ASP.Net 5 is focusing on ease of use and interoperability. As I read on the EF7 GitHub page they are relying on re-linq to ease the Linq implementation. They are also providing a sample project for a EF7 provider. Although I would wait till they update the provider implementation guideline. The wiki page clearly states it is out of date. I am currently diving into those matters, so perha

[2015-01-20 14:11] bnoffer commented on #4
I was using the document model, not the graph model. That might be the difference. Although I did not check this for quite some time. I'll revisit this.

[2015-01-20 16:22] GoorMoon commented on #9
Guys, I think that writing LINQ provider to orientdb is an excellent feature that will give .NET developers the ability to quickly start using this database.
I spoke with the development team orientdb and they tell me that SQL syntax changes after release 2.0 which should be soon.

[2015-01-20 16:27] GoorMoon commented on #4
OrientDB has issue with date's < 1582-10-14

[2015-01-20 16:30] bnoffer commented on #9
Sounds good, by the time the EF project might have updated their guidelines as well. Then all parts would be in place.

[2015-01-21 11:27] mxa055 opened #16 "How could we add an edge to existing nodes without loading them first?"
Say for example that I have a node Person that has out edges of type Friend that leads to another person as an in edge.
If I want to make a friend edge between two persons with the current driver inside a transaction I have to first load Person1 and Person2 (or create Person2 if its a new person) and then add the ORID of each other into the respective collections (talking about light edges, but he

[2015-01-22 01:49] poindextrose commented on #16
Good point. I'll take a look and see what I can figure out.

[2015-01-22 05:46] poindextrose commented on #16
I'm having trouble figuring out how this can be accomplished with the binary protocol which `OTransaction` is using. The [REQUEST_TX_COMMIT](https://github.com/orientechnologies/orientdb/wiki/Network-Binary-Protocol#request_tx_commit) documentation only lists three operations: `UPDATES`, `DELETIONS`, and `CREATIONS`.

Maybe I'm missing something? Can you please point to any examples or tests that

[2015-01-23 09:43] mxa055 commented on #16
I will take a look at the implementation of this in different clients and let you know since right now it does seem that the binary protocol might not allow this, but I am pretty sure other clients are doing it somehow.

[2015-01-23 17:59] GoorMoon commented on #3
@prah-net ,

Could you please check this is latest code from master branch.
@poindextrose Thank you for test case

[2015-01-24 08:36] prah-net commented on #3
It is working.

Thank you @GoorMoon and @poindextrose

Prahlad

[2015-01-24 09:33] #3 closed

[2015-01-25 06:38] poindextrose opened #18 "Change this repo to normal instead of a fork."
Github doesn't index forked repos for search and it would be nice to search this repo on Github. Since this fork is now the official C# client it seems appropriate to break the dependency to workshare/OrientDB-NET.binary by converting it to a normal repo.

[2015-01-25 06:58] poindextrose opened #19 "BaseOperation.EndOfStream() fails with NPE on Mono"
@GoorMoon

The `EndOfStream` method was introduced in commit 72b9244a01be56af08a9440fda65fdf6cb563ca3 but the `GetField` method returns null when running on Mono.

If I change EndOfStream to always return false, then all the tests pass on Mono when connecting to OrientDB 2.0.

I've tried to duplicate the logic with Mono but so far haven't been able to. Before I dig into it more please help me unde

[2015-01-25 07:06] GoorMoon commented on #19
EndOfStream is workaround (I don't like him) about bug exist in OrientDB version less than 2.0.
Response is different if storage type is memory or plocal.

[2015-01-25 07:09] poindextrose commented on #19
That explains why the tests were changed from memory to plocal. I tried the tests with memory. I'll see what I can do for reproducing the logic in Mono.

[2015-01-25 17:06] GoorMoon commented on #19
Hey i don't have Mono, but seeking on internet and found following article about NonPublic Fields and inheritance

http://www.netdataobjects.com/Portal/NDORunsUnderMono/tabid/94/Default.aspx

1. If you search for private fields using Reflection, Microsoft .NET automatically adds the Flag DeclaredOnly to the BindingFlag NonPublic. That way, if you use NonPublic, you get only the private fields of t

[2015-01-25 17:09] GoorMoon commented on #18
@lvca could this be done ?

[2015-01-25 17:15] GoorMoon commented on #16
I checked that and don't how (or if this possible) to implement this via remote protocol.
Then using lightweight edges information stored in the vertex on both side.
Then using heavy edges information store on both vertex and in the edge.
[REQUEST_TX_COMMIT](https://github.com/orientechnologies/orientdb/wiki/Network-Binary-Protocol#request_tx_commit) has UPDATE operation but need all chain of link

[2015-01-26 05:00] poindextrose commented on #19
Thanks for the information. It looks like Mono doesn't have the private fields that `EndOfStream()` is looking for. I notice that for the OrientDB 2.0 (which appears to use ProtocolVersion 28), the problem that `EndOfStream()` solves is not present (on my machine). I've updated the pull request to skip the `EndOfStream()` test for ProtocolVersion 28 or greater. Hopefully this is also valid on .NET

[2015-01-26 06:24] GoorMoon commented on #19
Yes this is valid on version 2.0 protocol is same for both storage types.

[2015-01-26 18:31] mxa055 opened #21 "ODistributed exception caused by Cluster name"
I have 3 nodes in a cluster.
I connect to node 1 and create some connected nodes. I then connect to node 2 and try to create some other nodes using the same classes but I get an error saying

com.orientechnologies.orient.server.distributed.ODistributedException: Error on inserting into cluster 'country' where local node 'node2' is not the master of it, but it's 'node1'

I noticed that ODatabase me

[2015-01-27 04:12] #19 closed

[2015-01-27 06:36] poindextrose commented on #18
An additional benefit is that the wiki will be easy to maintain. I would like to help update the wiki.

[2015-01-27 06:50] jiujiu1123 commented on #18
+1

[2015-01-27 07:16] lvca commented on #18
@rwg0 the only way is deleting your repository under "workshare". Can you do that?

[2015-01-27 09:53] mxa055 commented on #16
Maybe @lvca can shed some light on this, since the java client supports this functionality.

eg.
[code]
taken from: https://github.com/orientechnologies/orientdb/wiki/Graph-Database-Tinkerpop

[2015-01-27 11:10] lvca commented on #16
Somebody called me? :-)
In Java we store temporary RIDs for new elements. Then on server side it already manage them correctly. So if the client can generate RID with negative clusterPosition (like #10:-2, #10:-3, etc) and put the RIDs in the right place (vertices/edges), then OrientDB server will do the rest.

[2015-01-27 11:12] lvca commented on #16
And after TX is committed, the new RIDs are sent back to let the client to update local instances.

[2015-01-27 12:10] mxa055 commented on #16
Thanks for popping up so fast @lvca. The negative clusterPosition logic is already present in this client. So we can create two nodes with ids #cluster1:-1 and #cluster2:-1 and add #cluster2:-1 into out_hasConnection of node1 and #cluster1:-1 in_hasConnection of node2 and everything works fine. Problem is node1 (say #cluster1:0) already exists and could have 1000s out_hasConnection edges. In order

[2015-01-27 12:22] lvca commented on #16
Got it: .NET driver has no Bonsai implementation, so edges arrive as a big collection. Mmhm, I don't know if issuing a command in the middle of a TX works with negative RIDs...

[2015-01-27 14:43] gohsianghwee opened #23 "A number of common data type not supported"
Hi,

I have done some testing on the insert but I encountered number of issues and would like to lodge a reports.

1. GUID is not supported and will throw error.
2. Enum type also not supported.
3. IList is not supported
4. Dictionary and SortedList is not supported
5. List<Object> is also not supported

Apart from the issues listed. The data type is not similar and the figure had been rounded up

[2015-01-27 16:27] GoorMoon commented on #16
@lvca,
How Bonsai tree would be help in such case ?
We need create edge between two existing nodes that one of them already has thousands outgoing edges, inside transaction via remote protocol.
Could you please give example.

[2015-01-27 16:44] lvca commented on #16
I think the best guys are @tglman and @laa on this. This is the Java class:

https://github.com/orientechnologies/orientdb/blob/5dbce62a0e9e0f96258192d3afafb13df0c0ce41/core/src/main/java/com/orientechnologies/orient/core/index/sbtreebonsai/local/OSBTreeBonsai.java

[2015-01-27 18:14] GoorMoon commented on #16
@tglman, @laa,

can you help ?

[2015-01-27 21:35] GoorMoon commented on #23
@gohsianghwee
GUID saved as string in database,
ENUM saved as string in database
WHDYT

[2015-01-27 21:52] gohsianghwee commented on #23
Hi GoorMoon,

I agree with you that GUID may be able to stored as string though it would be good if it can be handled by the driver, however, I feel Enum serialization should be handled by .Net driver itself. What is WHDYT by the way?

Cordially,
Goh

[2015-01-28 06:13] poindextrose commented on #18
An answer on Stackoverflow: [Delete fork dependency of a GitHub repository](http://stackoverflow.com/questions/16052477/delete-fork-dependency-of-a-github-repository) says that a repo can be converted by contacting [Github Support](https://github.com/contact).

[2015-01-28 06:44] GoorMoon commented on #23
Hi,
of course it would be handled by the driver,  I ask you what do you think to store such types as a string in the database?

[2015-01-28 07:27] gohsianghwee commented on #23
HI Goormoon,

I have no problem if the data will be stored as string in the OrientDB eventually. So long the .Net driver can serialize and deserialize it automatically, developers will have less job to do the conversion in manual.

[2015-01-28 08:10] lvca commented on #18
@poindextrose thanks, email sent.

[2015-01-28 08:14] lvca commented on #18
Wow, already detached: they were super fast!

[2015-01-28 08:15] #18 closed

[2015-01-28 12:35] tglman commented on #16
hi @GoorMoon,

the OSBTreeBonsai it help with big collection because you don't download all the collection, but you get parts when you need.
In the case you use it, embedded in the document will be just a root of a tree and after from that you can load all the other parts using:

[2015-01-28 12:55] GoorMoon commented on #16
@tglman,
Thanks for answering.
I still don't understand how this will help in our case ?
I understand if i have huge collection of links in vertex (more than threshold Default value: 80)
queering or loading this vertex then i get back SBTree with pointer to the root of a tree.

How i can link that vertex to another without loading him first at all in transaction.

For Example:

I have vertex Perso

[2015-01-28 13:05] GoorMoon commented on #21
Yea, driver have some problem with cluster / class management.
#8

[2015-01-29 21:03] GoorMoon commented on #23
@gohsianghwee,
Could you check again ?

[2015-01-30 01:52] gohsianghwee commented on #23
Ho GoorMoon,

Thanks. It's working now but with little problems. The property for SomeVeryLongNumber value is 12345678901234567 but it was stored as 12345678901234568. The other problem is the Salary is decimal type but at the end stored as double. I am ok with that as the figure is exactly the same. That maybe because of the .Net type and OrientDB type are different. However, Allowance is float t

[2015-01-30 07:10] GoorMoon commented on #23
Hi @gohsianghwee ,
orientdb-studio has a bug not show correct type,
orientdb has a bug can't store decimal values [#3483](https://github.com/orientechnologies/orientdb/issues/3483).
Have some issues with float type numbers that rounded on the orientdb side.
store float type as double can cause some conversion problem on the driver side.

OrienDB community has excellent user group https://groups.go

[2015-01-30 07:58] gohsianghwee commented on #23
Hi GoorMoon,

Noted with thanks. May I suggest if this is the case all the .Net type on float and decimal store as double type in OrientDB instead. As I find it the most accurate of all.

I will have report my performance issue to google group instead. Thanks again for your support.

[2015-01-31 07:56] GoorMoon commented on #8
@jiujiu1123 , can you confirm and close the issue ?

[2015-01-31 23:56] poindextrose opened #24 "Should be be able to easily convert results of a generic SQL query"
`ODatabase.Query()` currently returns a `List<ODocument>`. When executing a SQL query that cannot be handled with the fluent API, it would be helpful to easily convert the Query results to a `List` of another type.

[2015-02-01 14:27] GoorMoon commented on #23
@poindextrose ,

WDYT about using double as replacement for (float,decimal) ?

[2015-02-01 14:28] GoorMoon commented on #8
If you still have issue please comment here.

[2015-02-01 14:28] #8 closed

[2015-02-01 14:29] GoorMoon commented on #6
@nazik ,
Could you please check again with latest version from master branch ?

[2015-02-01 21:29] gohsianghwee commented on #23
Do you mean .Net type using double? That's hard because float and double type always give a wrong answer for normal financial computation. It's more suitable for scientific computation.

However, I think it is good if the type is stored as double in OrientDB. So long it can be deserialized back
to .Net as decimal type.

[2015-02-01 21:35] #24 closed

[2015-02-03 07:12] poindextrose opened #26 "Should fetch linked document"
A query with a fetchplan does not properly fetch linked documents. Instead only the ORID is retrieved.

I'll submit a test case.

[2015-02-03 10:23] GoorMoon commented on #23
@gohsianghwee ,
I just tried this and still has issues with DataType conversion from .Net to the OrientDB.
I better would keep this issue open and try to work with orientdb team to fix this issue.

[2015-02-03 10:23] GoorMoon commented on #16
@tglman  ?

[2015-02-03 12:42] gohsianghwee commented on #23
GoorMoon,

Noted with thanks. I shall proceed on the other part of testing instead

[2015-02-04 06:44] poindextrose commented on #26
I've looked into this some more. It looks like the server isn't returning any pre-fetched records from `ODatabase.Query()` or `Odatabase.Command()` when fetchPlan is specified. I can see the fetchplan is making it to the server from the binary protocol logs. Is this possibly a bug in the server?

[2015-02-04 07:15] GoorMoon commented on #26
I need to look more, maybe i am not using REQUEST_COMMAND correct
https://github.com/orientechnologies/orientdb/wiki/Network-Binary-Protocol#request_command
https://github.com/orientechnologies/orientdb/wiki/Network-Binary-Protocol-Commands

[2015-02-04 17:16] GoorMoon commented on #26
On second thought, you have created a linked document and represents embedded test case so it does not we will establish.
I fixed the test case in such a way that you see through the use of linked documents

[2015-02-04 17:38] poindextrose commented on #26
Thanks! I totally missed the `ClientCache` Well at least now we have a test case that covers `ClientCache`

[2015-02-04 17:38] #26 closed

[2015-02-04 17:42] tglman commented on #16
Hi @GoorMoon

Sorry for the late reply.
The idea behind the SBTree is that if you want to link a record to another, you first load the first record, you get the SBTree root and from that you add a change operation that add the id of the second record. so you need just to load the first record, not both. is it this clear ?

[2015-02-04 17:45] GoorMoon commented on #16
@tglman
Can we talk privately on the chat ?

[2015-02-04 17:54] tglman commented on #16
yes sure: https://gitter.im/tglman

[2015-02-07 11:47] bnoffer opened #28 "DateTime returned is off by -1 day"
Hi,
I found another issue with handling dates. I have a class that contains a field of type Date and of course I need to write and read this value, but the written and read values do not match. Here is some sample code:

  using (var db = new Database("mydbpool")
  {
    var doc = new ODocument { OClassName = "myClass" };
    doc.SetField<DateTime>("Date", new DateTime(2015, 02, 08));
    var retv

[2015-02-07 22:45] poindextrose opened #29 "Should Fetch Documents Connected By Edges"
The client cache is not being populated when fetching documents connected by edges. I'll submit a test case.

[2015-02-09 06:46] poindextrose commented on #23
@GoorMoon

I recommend that we use a custom `BigDecimal` implementation for the OrientDB decimal type because OrientDB is using `java.math.BigDecimal`. [Here is one I found](https://gist.github.com/nberardi/2667136), but I haven't evaluated it fully.

I also recommend that we map .NET float to OrientDB float and .NET double to OrientDB double. I've been looking at the broken test case and I'm tryi

[2015-02-09 15:53] degustator opened #31 "Problem inserting object with date time fields"
Seems there is error in mapping in class Orient.Client.Mapping.DateTimeFieldMapping if object contains DateTime fields

Code fragments:

....
    class File
            {
                public String fileName { get; set; }
                public DateTime created { get; set; }
            }
...
       using (ODatabase database = new ODatabase(DBNAME))
                {

                    databas

[2015-02-09 20:13] poindextrose commented on #29
This isn't an issue when using the `ODatabase.Query(string sql, string fetchPlan)` overload. I was running into the OrientDB issue [Inline fetchplan has no effect on binary protocol #3515](https://github.com/orientechnologies/orientdb/issues/3515)

[2015-02-09 20:13] #29 closed

[2015-02-09 20:49] poindextrose commented on #31
I've created a PR for a test case for this. I cannot get it to fail on OrientDB 1.7.9, 2.0.1 or 2.0.2. Can you please try this test case on your system or update it to show it failing?

[2015-02-09 23:02] poindextrose commented on #28
The following NUnit snippet works on my machine.

[code]

[2015-02-10 02:41] nazik commented on #6
Tested the latest version with OrientDB 2.0.2 with no problems.

[2015-02-10 02:41] #6 closed

[2015-02-10 08:04] GoorMoon commented on #23
@poindextrose ,
I think you are right, we need to use our custom types for all OrientDB types and not only for Big Decimal. For this we must re-wright driver.

[2015-02-10 16:12] poindextrose commented on #23
What other types do you think we need to handle as a special case? I think BigDecimal is the only real problem. As a start, we could map C# string to OrientDB BigDecimal and let the user convert the string to their own BigDecimal implementation if needed or let them convert it themselves to C# decimal if the precision loss is acceptable.

I have some ideas for translating the Link* types which I'd

[2015-02-11 05:44] GoorMoon commented on #23
I think we need abstraction over all orientdb types in that case driver will be more stable to the features changes in the orientdb side.
Today we not support RidBag and that why we have problem in links.
I think who use driver with oriendb should be aware of warriors orientdb types and complex cases.

What ideas you have about Links ?

[2015-02-13 00:49] gohsianghwee opened #34 "How to check if the class has already exist?"
Hi,

I couldn't find the is class exist method. May I know how to check the existence of the class? Thanks.

Cordially,
Goh

[2015-02-13 06:57] GoorMoon commented on #34
@gohsianghwee ,

if(database.Schema.GetClustersForClass("TestClass")!=null)
{
	// TODO: Class exists
}

[2015-02-13 07:07] poindextrose commented on #28
I am able to reproduce it in a test case in my latest PR. The date is correct in the database but when it is retrieved it is moved forward by UTC - local time zone. I'm in PST and therefore it is adding 8 hours to the time that is stored in the database.

[2015-02-13 07:17] gohsianghwee commented on #34
Hi GoorMoon,

Thanks for your helping hand. I did come across the method but thought that was the function to get list of clusters and might throw error if I call it.

[2015-02-13 07:21] gohsianghwee commented on #34
By the way, I would suggest to have a method as below. What do you think?

public bool IsClassExist(string className)

[2015-02-13 07:23] GoorMoon commented on #34
cool

[2015-02-13 08:34] gohsianghwee commented on #34
Hi GoorMoon,

I want to make some changes on this and there is also another method I would like to have such as
Create.Class<T>("someOtherClassName"). Currently I figure out there is no way I can pass the Generic Type with the class name I would like to have. I think this is important feature for me as I might store the same object but with different class name. Do you think I shall fork it as ano

[2015-02-13 11:21] GoorMoon commented on #31
The problem in my case that ORIENTDB DATETIMEFORMAT is missing Milliseconds.
To fix issues with DateTime fields driver need to know DATETIMEFORMAT and TIMEZONE in the DataBase Configuration. I don't know if possible at all to query such information.

I will merge you PR but this issue stay opened.

[2015-02-13 11:39] GoorMoon commented on #28
Related to issue #31

[2015-02-13 11:51] GoorMoon commented on #34
Hi @gohsianghwee,

I am not owner of this repository and can't give you write access.
You should fork this repository and provide PR request i will investigate
this and merge them to the master branch.

Your suggestion is very interesting.

Best Regards,
Roman Gordon

On Fri Feb 13 2015 at 10:34:50 AM gohsianghwee <notifications@github.com>
wrote:

[2015-02-13 12:23] GoorMoon commented on #31
Open issue to orientdb repository https://github.com/orientechnologies/orientdb/issues/3583

[2015-02-15 03:56] gohsianghwee commented on #34
Hi Roman,

Certainly. I shall fork this repository instead. Thanks.

[2015-02-15 03:56] #34 closed

[2015-02-20 06:59] poindextrose commented on #28
@bnoffer You should be able to work around this problem by executing
[code]

[2015-02-20 13:52] shongololo opened #37 "Any older versions available with .NET 3.5 compatibility?"
Are there possibly any older versions of the OrientDB-NET.binary available that might be compatible with .NET 3.5? Thanks.

[2015-02-23 16:29] ugavnholt commented on #6
I'm getting this error too with the latest version of the binary driver, and orientdb version 2.0.3

[2015-02-26 09:11] bnoffer opened #38 "Single quote escape convention"
Related to:

https://github.com/orientechnologies/orientdb/issues/1275

Just came across the issue with single quotes while importing data using the .NET Driver from another DBMS to OrientDB. The occurrence of single quotes in strings lead to parsing errors. I manually used the \\\' convention to replace the single quotes, but this should be handled by the driver.

[2015-02-27 09:12] masimakopoulos opened #39 "Default transaction setting is to not use log (apparently not a transaction at all)"
Please view orientDB repository issue [#3556](https://github.com/orientechnologies/orientdb/issues/3556)

Apparently having log off in transactions
[code]
can lead the DB to an inconsistent state.

[2015-02-27 11:13] GoorMoon commented on #38
@bnoffer,
Do you have a test case ?

[2015-02-27 11:14] GoorMoon commented on #37
Unfortunately no

[2015-02-27 11:21] shongololo commented on #37
Thanks.

[2015-02-27 11:21] #37 closed

[2015-03-02 05:25] gohsianghwee commented on #23
Hi GoorMoon,

I figure out some problem with Sorted List type. It will throws error whenever there is a property for sorted list type being inserted. Would you mind to check on this? Thanks.

Cordially,
Goh

[2015-03-02 11:25] GoorMoon commented on #23
@gohsianghwee ,

Sure, do you have some test case for this ?

[2015-03-02 15:34] gohsianghwee commented on #23
Hi GoorMoon,

Here you go!
public static void TestOrientDBObjectTypeSupported()
        {
            var GlobalTestDatabaseName = "TestDatabaseNameAlias";
            var GlobalTestDatabaseType = ODatabaseType.Graph;
            var GlobalTestDatabaseAlias = "TestDatabaseNameAlias";

            _server = new OServer(_hostname, _port, _rootUserName, _rootUserParssword);
            if (_server.Da

[2015-03-02 20:47] cocogorilla commented on #38
Provided class:
    public class Test
    {
        public string SomeString { get; set; }
    }
The following throws illegal character at position 41:
        [Fact]
        public void CannotPerformInjection()
        {
            using (var db = new ODatabase(Dbname))
            {
                if (!db.Schema.IsClassExist<Test>())
                {
                    db.Create.Class<Test>(

[2015-03-02 20:57] cocogorilla opened #42 "prepared sql"
According to this post, prepared sql is supported:
https://groups.google.com/forum/#!msg/orient-database/sytdxVTwk_w/zAR12xjZlhUJ

Can this be supported through the .NET client?

[2015-03-03 12:45] masimakopoulos commented on #39
You could also add the newly added comment in the documentation at that line as a comment to prevent this changing back by mistake

[2015-03-05 12:31] bnoffer commented on #38
Thank you @cocogorilla for providing the Test.

[2015-03-05 19:21] billbshs opened #44 "OrientDB Server Accepts Connection Does Not Respond to Connect request"
Running latest, attempt to run either console or any unit test OrientDB server never responds to connection request, causing client to hang indefinitely waiting for a response:

Connection.cs Line 248
Document = ExecuteOperation(operation);

Inbound socket connection is created, but the server never responds.

[2015-03-06 00:40] #23 closed

[2015-03-06 00:47] gohsianghwee opened #46 "Some data type not supported"
Hi,

I am encountering issues on some data types like List<Enum> and array with enum type.

Here's the code.

 public static void TestOrientDBObjectTypeSupported()
        {
            var GlobalTestDatabaseName = "TestDatabaseNameAlias";
            var GlobalTestDatabaseType = ODatabaseType.Graph;
            var GlobalTestDatabaseAlias = "TestDatabaseNameAlias";

            _server = new OSer

[2015-03-06 01:26] billbshs commented on #44
Nevermind, master doesn't support protocol 28, which causes the connection to hang.

[2015-03-06 01:26] #44 closed

[2015-03-06 03:33] gohsianghwee opened #47 "Sub class Error"
Hi GoorMoon,

Whenever this is a sub class which is null, system will throw error. Even if it is not null but string is empty, it will throw null also. I have fixed the issue and will create a pull request for this. Thanks.

Cordially,
Goh

[2015-03-06 07:45] gohsianghwee opened #48 "Common Data type short and long not supported by database.Query"
Hi,

I find some common data type like short and long are not supported by the document.Query. Here's the sample.

var employee = new EmployeeCommonType();
            employee.Id = Guid.NewGuid();
            employee.Name = "Goh";
            employee.Age = 33;
            employee.Salary = (decimal)123456789.123456789;
            employee.IsMarried = true;
            employee.BirthDate = Date

[2015-03-06 12:23] #47 closed

[2015-03-06 12:24] #48 closed

[2015-03-07 13:28] GoorMoon commented on #42
Using example look at TestCase `PreparedQueryTest.cs`

[2015-03-07 13:28] #42 closed

[2015-03-07 13:34] GoorMoon commented on #46
Should be fine look for the test case of fix

[2015-03-07 13:34] #46 closed

[2015-03-07 13:34] #39 closed

[2015-03-07 13:35] #38 closed

[2015-03-07 14:12] GoorMoon commented on #44
@billbshs ,
Pushed protocol28 branch to the master.
Now driver support tokenBased session

[2015-03-08 04:15] gohsianghwee opened #50 "List<Guid> not supported"
Error will be thrown whenever property type is List<Guid>

[2015-03-08 05:27] gohsianghwee opened #52 "List<Class> error for"
Hi,

I have done some unit test on List<Class> and seems like no data is will be able to retrieve. No problem on insert but while retrieve it doesn't get through for the property Child

var employeeListTypeClassName = "EmployeeListType";
            var employee = new EmployeeListType();
            employee.Id = Guid.NewGuid();
            employee.Name = new List<string>();
            employee.

[2015-03-08 05:39] gohsianghwee commented on #52
Sorry forget to put the EmployeeListType class for your reference.
public class EmployeeListType
    {
        public Guid Id { get; set; }

        public List<Guid> Ids { get; set; }
        public List<string> Name { get; set; }

        public List<int> Age { get; set; }

        public List<decimal> Salary { get; set; }

        public List<bool> IsMarried { get; set; }

        public List<D

[2015-03-08 05:44] gohsianghwee opened #53 "database.Query<Type> error for array type."
[Test]
        public void GIVEN___EmployeeArrayType_class_with_common_data_type___WHEN___write_to_orientdb___THEN___should_be_able_to_read()
        {
            var employeeClassName = "EmployeeArrayType";
            var employee = new EmployeeArrayType();
            employee.Id = Guid.NewGuid();
            employee.Name = new string[2];
            employee.Name[0] = "Andrew";
            e

[2015-03-08 07:06] gohsianghwee opened #54 "Error for database.Insert<Type> for dictionary"
Hi,

I have encountered an error for Dictionary type. Here's the code

[Test]
        public void GIVEN___EmployeeDictionaryType_class_with_common_data_type___WHEN___write_to_orientdb___THEN___should_be_able_to_read()
        {
            var employeeClassName = "EmployeeDictionaryType";
            var employee = new EmployeeDictionaryType();
            employee.Id = Guid.NewGuid();

[2015-03-08 07:11] gohsianghwee opened #55 "Error for database.Insert<Type> for sortedList"
Hi,

I have encountered another problem on SortedList type for database.Insert. Here's the code

[Test]
        public void GIVEN___EmployeeSortedListType_class_with_common_data_type___WHEN___write_to_orientdb___THEN___should_be_able_to_read()
        {
            var employeeClassName = "EmployeeDictionaryType";
            var employee = new EmployeeSortedListType();
            employee.Id = G

[2015-03-08 13:29] GoorMoon commented on #55
@gohsianghwee ,
could you please post here EmployeeSortedListType class ?

[2015-03-08 13:33] gohsianghwee commented on #55
Hi @GoorMoon ,

Sorry for not including the SortedListClass. Here you go!

public class EmployeeSortedListType
    {
        public Guid Id { get; set; }

        public SortedList<Guid, Guid> Ids { get; set; }
        public SortedList<string, string> Name { get; set; }

        public SortedList<int, int> Age { get; set; }

        public SortedList<decimal, decimal> Salary { get; set; }

[2015-03-09 06:00] gohsianghwee opened #56 "Anyway to get all the classes name in the database"
Hi,

Is there anyway for us to get all the classes available in the database?

Cordially,
Goh

[2015-03-09 09:42] gohsianghwee commented on #53
Hi @GoorMoon ,

Thanks and I shall mark it closed.

[2015-03-09 09:42] #53 closed

[2015-03-09 09:43] gohsianghwee commented on #52
Hi @GoorMoon ,

Thanks and I shall mark it as closed.

[2015-03-09 09:43] #52 closed

[2015-03-09 09:43] #50 closed

[2015-03-09 14:37] GoorMoon commented on #54
@gohsianghwee,
I looked in this issue and don't understand what do you want to see in the database side ?
You have properties that have variants of Dictionary<?,?> that fields may be exposed as EmbedeMap in the OrientDB but them must be of type Dictionary<string,ORecord>.
Could you explain more about what you expect from this ?

[2015-03-09 14:38] GoorMoon commented on #55
same as #54

[2015-03-09 14:50] gohsianghwee commented on #54
Hi @GoorMoon,

Actually my colleague has some numerous issues with the driver especially insert and field mapping. I have reported those issues before and to make my life simple I therefore created a unit test to test all type supported by Dictionary and Sorted list to ensure the Dictionary cover all the cases. Basically we will use Dictionary<int, string>, Dictionary<guid, class>, Dictionary<stri

[2015-03-09 15:07] GoorMoon commented on #54
@gohsianghwee,

You Dictionary property must have string value as key and object as value
take look at following test-case GitHub_issue23 property MyKeyValues

That create following record in the orientdb

@rid|@class|@version|SomeOtherId|Name|Age|SomeVeryLongNumber|BirthDate|Salary|Commission|MyFavoriteColor|IsMarried|SomeIntegerList|SomeIntegerArrayList|SomeDecimalList|SomeDecomeArray|Kids|SomeI

[2015-03-09 15:30] gohsianghwee commented on #54
Hi @GoorMoon ,

May I confirm with you again, the string is the only key allowed for Dictionary and SortedList, not integer, enum or others?

Cordially,
Goh

[2015-03-09 15:33] GoorMoon commented on #54
Yes, I can try to convert keys to the string but this be unpredictable behavior in case of DateTime for Example.

[2015-03-09 15:36] gohsianghwee commented on #54
Hi @GoorMoon ,

I don't need DateTime as key actually, that's for Unit Testing. I appreciate if you can convert as string for integer and enum. That will be more than enough

[2015-03-09 16:11] amgiorgi opened #57 "driver not fetching @fieldTypes"
Here is what I have done so far to try and debug retrieved values:

document = db.Query("select from interventi limit 10");

                foreach (ODocument singleDoc in document)
                {
                    List<ORID> orids = singleDoc.GetField<List<ORID>>("out_InterventoICD");
                    foreach(ORID rid in orids)
                    {
                        lblResults.Tex

[2015-03-09 18:23] GoorMoon commented on #57
@amgiorgi ,
Are you using latest code ?

REST and BINARY protocol are different and in the rest protocol you get some type hints in the binary protocol types is defined by result.

I don't understand your issue from description you provide.

Can you provide some test-case for issue.

[2015-03-09 18:38] amgiorgi commented on #57
Well, I was basing my assumption on the REST protocol and expecting the same (or similar) response from the binary one.
Are you saying that the @fieldTypes property is not available/supported in the binary protocol?

[2015-03-09 18:44] GoorMoon commented on #57
Binary protocol is strong typed look here http://www.orientechnologies.com/docs/last/orientdb.wiki/Record-CSV-Serialization.html

[2015-03-09 19:11] GoorMoon commented on #57
If you use strong schema for the class you can get properties by queering
database.Schema.Properties("<classname>")

[2015-03-09 19:37] amgiorgi commented on #57
HI @GoorMoon, thank you for your prompt reply.
Yes I know that bynary protocol is strongly typed but nevertheless in my POCO there are no properties related to OrientDB internal properties. I am using the graph model and in design Studio I noticed that outgoing and incoming edges are comfortably marked as out_NameOfRelation or in_NameOfRelation.
Incidentally, using the REST protocol I also found o

[2015-03-10 05:04] gohsianghwee commented on #54
Hi @GoorMoon ,

Thanks for your update. I think it doesn't work for GUID and short and long type. I want to fix it but I am not sure why my github version differ from yours and comparison show no difference. I have added a method at DictionaryFieldMapping.cs and it solved.

protected override void AddItemToCollection(object collection, int index, object item)
        {
            var enumerator =

[2015-03-10 06:30] GoorMoon commented on #57
If i understand well you question (sorry my bad English)

In binary driver you have strong Type

something like that

[code]

take look to test case of OrderedEdgesTest.cs

[2015-03-10 08:13] amgiorgi commented on #57
Good morning Roman,
Thanks again for replying.

As you pointed out I can declare a property as HashSet(ORID) or List<ORID>
o in order to retrieve incoming or outgoing edges to a specific vertex.
That implies though that my model is known in advanced and all incoming and
outgoing edges are known. What if I don't want to statically map all my
classes? My database is currently changing very rapidly w

[2015-03-10 08:16] amgiorgi commented on #57
Apologies for the poorly formatted text. I replied from my mailbox and it came out this way.
I will post it again:

 public class Ricovero
    {

        [JsonProperty(PropertyName = "@type")]
        public string documentType {get; set;}

         [JsonProperty(PropertyName = "@rid")]
        public string RID {get; set;}

         [JsonProperty(PropertyName = "@version")]
        public string

[2015-03-10 08:23] amgiorgi commented on #56
Is this what you are lookign for?

IEnumerable<string> listaClasses = db.Schema.Classes();

[2015-03-10 10:42] gohsianghwee commented on #56
Hi @GoorMoon ,

Thanks. This is exactly what I want.

[2015-03-10 10:42] #56 closed

[2015-03-10 10:43] gohsianghwee commented on #55
Hi @GoorMoon ,

Thanks. Tested and the problem resolved.

[2015-03-10 10:43] #55 closed

[2015-03-10 10:45] #54 closed

[2015-03-10 14:57] GoorMoon commented on #57
@amgiorgi,
Take a look to example that i created if this make sense ?

[2015-03-10 15:32] #57 closed

[2015-03-10 21:47] dotnetchris commented on #9
I can't even fathom how LINQ relates to a graphical model. I would strongly advise against doing a LINQ provider. Steal from LINQ what looks like what will fit and just build a sane querying api likely with fluent chaining. If you actually build LINQ into this, you will spend a never ending number of years hunting down the infinite number of edge cases users will complain about. I could never in s

[2015-03-11 05:48] jersiovic commented on #9
Can you please show a sample some of those edge cases you are talking about?
I use currently a Siaqodb an object/document oriented db that offers as its only API a LINQ provider and I haven't find the edge case you are talking about.

[2015-03-11 05:58] jersiovic commented on #9
Dynamic LINQ indeed is a fluent API that offer fluent chaining what is the problem with that? I think that using the same API other dbs use is good to help devs to migrate from one db to other. If LINQ limits you in some way you can enrich your provider with extra functionality to help devs to leverage the characteristics of your concrete db

[2015-03-12 08:09] gohsianghwee opened #58 "Null property will be instantiated during retrieving"
Hi,

My colleague encountered a problem whenever he tried to retrieve an object with one of the property was null. He figure out the null object was being instantiated. The bug has been fixed by him at https://github.com/cychua2015/OrientDB-NET.binary/commit/6bfe04e977068b75e490c5eb9b186858fab872cd. Please merge and we shall test again thereafter. Thanks.

Cordially,
Goh

[2015-03-12 08:12] gohsianghwee opened #59 "Different properties with same class type save will cause incorrect value."
Hi,

My colleague encountered a problem whenever he tried to retrieve save the object with 2 different properties with same class type. He figure out the data was not stored correct. The bug has been fixed by him at https://github.com/cychua2015/OrientDB-NET.binary/commit/6bfe04e977068b75e490c5eb9b186858fab872cd. Please merge and we shall test again thereafter. Thanks.

Cordially,
Goh

[2015-03-16 10:50] jiujiu1123 commented on #42
@GoorMoon Is there a way of using prepared sql for creating document?

[2015-03-16 12:01] GoorMoon commented on #42
No, open issue please i will implement this

[2015-03-16 12:42] jiujiu1123 opened #61 "prepared sql For Creating documents"
Recently @GoorMoon  you have implanted the prepared sql method for Selecting documents(querying), it would be quite useful if you can implant the method for creating documents.

[2015-03-17 08:34] chubie commented on #9
one one side developing a linq provider is propably one of the hardest things someone can do.
on the other side working with linq and the benefits (refactoring, intellisense, etc.) may be worth the effort.

propably most devs will need for select query purposes on the first instance - insert and update have a much lower priority as these relate to batch updating large sets of documents.

[2015-03-17 10:05] GoorMoon commented on #9
@chubie,
You absolutely right, current implementation already support fluent API for select statement to.
Look to the this test case https://github.com/orientechnologies/OrientDB-NET.binary/blob/master/src/Orient/Orient.NUnit/Query/SqlGenerateSelectQueryTests.cs

[2015-03-17 19:13] dotnetchris commented on #9
LINQ is **relatively** straight forward for simple selects and where caluses, but once people start tossing JOIN, AGGREGATE, GROUP BY, UNION, EXCEPT. It's just a never ending set. LINQ providers work great when they're mapped to SQL Database as there's almost an exact 1:1 relationship between operations (unsurprisingly since LINQ is modeled after SQL).

You just end up with a mine field of combina

[2015-03-17 20:59] chubie commented on #9
@dotnetchris
i fully agree with you - of course linq has -- by design -- a strong relationship to sql query syntax.
but on the other hand orientdb has also a sql query syntax and many operations would be portable to linq.
with this feature the client driver gets - imho - usable.
writing queries as formatted strings works obviously in small projects but when projects grow and get more dynamic it ge

[2015-03-17 22:19] dotnetchris commented on #9
@chubie that's why i'm suggestion that Orient create a LINQ like syntax for select, where, and other relevant methods, but not enumber itself to try to be a true LINQ provider.

I fully support strong typing all the way. RavenDB aside from having it's LINQ provider also has a strongly typed LuceneQuery Api that is not LINQ but is LINQ-like. I would strongly recommend emulate the LuceneQuery Api of

[2015-03-21 07:59] jersiovic commented on #9
Well, LINQ maybe is near from SQL however if you take a look with a profiler to what an ORM produces to tranlate LINQ to SQL many times it sucks. So maybe it is not so near as we initially think.
I prefer to see LINQ as a language to manage objects with common operations you usually do with objects. There are operators like JOINS that are very used when you work with a relational db. But there are

[2015-03-21 11:05] dagimf opened #62 "Error when getting stored dictionary"
So i have a model, that stores a dictionary, it is part of the model, the storing process goes fine, no error, and when i get the data back it is  also good. The problem happens when i store a  dictionary with a single key pair value, then when i get it and try to convert it using the ODocuments to method it throws an exception (   'System.Collections.Generic.KeyValuePair`2[System.String,System.Ob

[2015-03-21 15:05] GoorMoon commented on #62
@dagimf,

Which type is a value ?

[2015-03-21 18:33] dotnetchris commented on #9
@jersiovic don't ever try to fool yourself. Your LINQ code is 100% coupled to your database. The only rare exceptions is MYSQL vs MS-SQL vs PostGres, maybe just maybe you can get away with cross compatibility. That has to do with the fact they rely on the ANSI SQL standard however and drive through a provider model. That is not relevant to anything else.

Do you really believe you could write a qu

[2015-03-21 19:00] jersiovic commented on #9
Indeed, currently I'm sharing code between Siaqodb a  Nosql db without any sql API and Sql Server through Entity Framwork. How? Through LINQ.An it is not a trivial scenario for sure. I don't say it was easy but I say it has been possible with tye help of Siaqodb guys that were very open to new ideas. The point is now after see the result I would like to see other dbs offer the same LINQ api.

Sql

[2015-03-23 10:14] dagimf commented on #62
the type can be string, double, datetime, or bool. Ive tried it using string and number

[2015-03-23 11:22] GoorMoon commented on #62
@dagimf,
Check test case, this is work for me

[2015-03-23 14:35] dagimf commented on #62
ok will try the test and get back to you, thanks for the quick reply

[2015-03-28 15:26] AndreasTurowski opened #63 "Connection problem"
If I run the Orient.Console Program (and similar connection code in my own test program), the connection hangs. Debugging shows that Connection.ExecuteOpertion hangs in the line response.Receiver(). The server is up and running:
2015-03-28 15:28:34:743 INFO  Listening binary connections on 127.0.0.1:2424 (pr
otocol v.28, socket=default) [OServerNetworkListener]
2015-03-28 15:28:34:744 INFO  Listen

[2015-03-28 15:53] GoorMoon commented on #63
Hi @AndreasTurowski,

Orient.Console is not a part of driver and needed to test some concept of development.
Do you have some test-case failed ?

Otherwise please post here your test case and i will investigate the issue.
and also post your OrientDB version and database storage type.

[2015-03-28 15:59] AndreasTurowski commented on #63
The Connection code i've written is completely same if have posted above.
Orient DB version is OrientDB 2.0.5 Community Edition (March 12, 2015)
Test case failed? The Constructor of Class OServer never returns and hangs in Connection.ExecuteOpertion in the line response.Receiver().

Database storage type will be PLocal, if i will be able to connect to server and create it by code :)

[2015-04-05 11:55] GregoryServera opened #64 ""Requested value 'none' was not found" exception on CreateDatabasePool"
Hi,

I get an ArgumentException on OClient.CreateDatabasePool, with message "Requested value 'none' was not found".

My code :
[code]

Stacktrace :
[code]

[2015-04-07 14:51] dagimf commented on #62
Very sorry for the late reply, so i run the test and it works perfectly.

 I noticed that in one of the new commits the document mapper in orient changes any object type to an ODocument.
So before i updated orient client a dictionary of type <string, object> could be stored in the db easily, but now the document mapper is converting it to a dictionary of type <string, ODocument> and when i do this

[2015-04-07 19:07] GoorMoon commented on #62
@dagimf ,
Sorry but i don't understand your example do you have any test case ?

[2015-04-08 07:02] dagimf commented on #62
so i have a form class like this,

public class Form
    {
        public ORID ORID { get; set; }
        public string Type { get; set; }
        public Dictionary<string,object> FormData { get; set; }
    }

the object that is being stored looks like this,
Dictionary<string, object> dynamicData = new Dictionary<string, object>
            {
                { "timeNow", DateTime.Now },

[2015-04-08 21:45] GregoryServera commented on #64
It seems that the bug concerns the NuGet package only. I cloned the Git repo and built it as a dll, all works fine in our project.
So I close the issue.

[2015-04-08 21:45] #64 closed

[2015-04-09 06:30] GoorMoon commented on #64
Yeah,
NuGet package is very old.
I Don't know how to build it.

[2015-04-09 07:34] GoorMoon commented on #62
@dagimf ,
Now i see the problem with property of type Dictionary<string,object> that driver can't guess the type  of returning entry in that property. Rewrite your test case with using ODocument instead.

[2015-04-09 09:59] dagimf commented on #62
Thanks a lot, run the test and it works fine, also started using ODocument in my system as u suggested and it worked perfectly with no change required.

[2015-04-09 13:08] GoorMoon commented on #62
Glad to hear

[2015-04-09 13:08] #62 closed

[2015-04-10 21:26] kowalot commented on #9
IMHO Linq to Sql  is/would be great with OrientDB and doable. You can easily refactor your code when schema is recreated from objects. Far more better experience than producing sql string or fluent interface.   You can also detect where your fields are used, queried,set and so on.
Prefetchable objects or edges could work incredibly good with lambdas but you have to introduce "views" properties for

[2015-04-16 15:25] degustator opened #65 "How to get ORID of object?"
Its more a question than issue

I want to use Orient in mixed mode. Somewhere I use ODocument queries, somewhere I use object updates for same documents etc

So at this moment I know some ORID and want to update object behind it.

{code}
String query = String.Format("select from {0} where ...");
documents = db.Query(query);
ODocument orientdoc = documents.FirstOrDefault();
{code}

And now I want t

[2015-04-17 05:21] GoorMoon commented on #65
@degustator ,
What type is some_class_object ?

[2015-04-19 01:49] #61 closed

[2015-04-22 02:44] gohsianghwee opened #66 "Connection reach max issue"
Hi,

I always encounter connection reach max issues whereby I have ensured the connection has been closed for each usage by using the "using" keywords in c#. Below is the sample code,

 using (var database = new ODatabase(databaseName))
            {
                // logic is here
            }

I even tried to close the server connection each time by calling Server.Close(). It happens occasiona

[2015-04-24 16:35] GoorMoon commented on #66
@gohsianghwee
Just checked DatabasePool and it's work correctly.
How you create DatabasePool and Destroy it ?

[2015-05-14 11:20] cha67 commented on #9
Linq would be a awesome idea ! The current syntax is quite difficult

[2015-05-14 11:56] cha67 opened #67 ""Object" members lost their value"
Hello !

This small test is failing because when saving, Object members values are lost (not stored in Db)

I don't understand why in the driver code. This is possible with CouchDb (Hammock driver) and MongoDb. Hammock serializes directly C# objects to JSON for storage (with JSON.Net)

        [Test]
        public void InsertWithObjectMember()
        {
            Utils.InitPool();

[2015-05-14 12:03] cha67 opened #68 "Colons and quotes lost when saved in a inner document"
Hello !

This small test is failing. The string 'e=mc2' become \'e:mc2\'

        public void InsertColonAndEqualSymbolInInnerDocument()
        {
            Utils.InitPool();

            using (ODatabase database = new ODatabase("alias"))
            {
                DataSourceOrientDbDTO entity = new DataSourceOrientDbDTO();
                entity.Parameters = new List<DataSourceOrientDbDTO.D

[2015-05-14 18:04] thiagopm commented on #66
Hi
I have a problem like this after a hour that I turn on my Sync Service (update OrientDB from a queue of tasks):

On the client I get the error:
"Cannot write to a BufferedStream while the read buffer is not empty if the underlying stream is not seekable. Ensure that the stream underlying this BufferedStream can seek or avoid interleaving read and write operations on this BufferedStream."

On th

[2015-05-14 19:03] GoorMoon commented on #66
@thiagopm,
Can you please provide minimal example of issue.
From your description i understand that driver not close connections.
But in my test case can't reproduce this.

[2015-05-14 20:54] thiagopm commented on #66
@GoorMoon,

I'll do it, but one more question.

We are using a distributed environment (3 server instances balanced by AWS elastic load balance)

Have you ever tested in this kind of environment?

When closing the connection, how the API knows what the connection server was opened?

thanks,
Thiago

[2015-05-19 14:04] GoorMoon commented on #66
@thiagopm,
I never tested Driver in the distributed environment.
Driver manage Connection in the OConnection class and close it then class disposed.

[2015-06-08 20:25] sowee15 opened #69 "Parameters"
Hi,

While I was looking at parameters support in the driver, I was wondering why there was a check for CommandPayloadCommand in OCommandQuery.Set method? I tried to serialize an ODocument with a single field "params" that contained a Dictionary<string, object> and it worked. I am using OrientDB  1.7.8, protocol 21.

I also slighty modified the RecordCSVSerializer.SerializeObjectValue method to ma

[2015-06-09 16:41] GoorMoon commented on #69
@sowee15 ,
Thank you for improvement and yes i am interested in PR to.
Current goal of the driver is support orientdb 2.x without breaking backward compatibility of 1.7.x
I will review PR and merge if this is possible.

[2015-06-17 02:37] cwaldron commented on #23
Why is Guid stored as a string and not a 16-byte binary value?

[2015-06-17 10:57] GoorMoon commented on #23
to support compatibility with other drivers.

On Wed, Jun 17, 2015 at 5:37 AM cwaldron <notifications@github.com> wrote:

[2015-06-18 09:57] YannVia opened #70 "Database Corruption after delete in transaction"
Hello,

So far everything is perfect with OrientDB during testing, except one fact.
With .Net connector, current master branch, inside a transaction,
we have identified a scenario which corrupted the database.

First, this scenario is OK:

[code]

But in this specific scenario, with a delete(vertex 1) command

[code]

At this step, Vertex 1 is deleted but not the Edge (so no cascading like without

[2015-06-29 13:26] dmikov commented on #9
Yes, it would be wonderful, we considering move from Mongo, but we used linq in its' simplest form i.e.
r=> r.Application=model.Id but in so many ways that nobody would want to rewrite that

[2015-06-29 13:37] dmikov opened #71 "System.ArgumentException : propertyType List`1 is not yet supported."
Was trying to create class with list or enumerable property and are getting this error.
You can easily replicate it by modifying the test case like that.

    public class GitHub_issue38
    {
        [Test]
        public void ShouldCreateRecordContainingSingleQuote()
        {
            using (TestDatabaseContext testContext = new TestDatabaseContext())
            using (var db = new ODatabas

[2015-07-04 12:04] cwaldron opened #73 "ORID does not conform to .NET naming conventions"
The all upper case class name "ORID" should be modified to "Orid" to conform with standard .NET naming conventions and guidelines.

[2015-07-04 12:18] cwaldron opened #74 "Consider making ORIDs immutable"
The setter should be removed in ORID.RID.  This means that a RID cannot be overwritten.  Id's should be immutable and never modifiable.  It also makes RID consistent as there is no other assignment operator on ORID.  Also RID should be changed to Rid.  Actually I would eliminate RID and support ToString() to make it consistent with .NET conformance.   And since ORIDs are no larger than a  GUID,  w

[2015-07-11 09:38] cwaldron commented on #74
I realize that an Orid cannot be a valu(e type since the default state is the Null Rid (#-1, -1).  If define as a value type the default state would be (#0,0) which represents the address of the database metadata.  However I've made some changes to the existing code in a private fork where I make sure that the driver always returns Orid.Null for Orid types.  This avoid checking Orids for the null

[2015-07-15 13:32] dmikov commented on #71
Is this project dead? 16 days no reply?

[2015-08-03 09:13] AndreFrelicot opened #77 "ORecordBytes"
Hello,
is ORecordBytes supported in this driver ? I dont see this class in the source code...

[2015-08-06 07:29] yon86 opened #78 "Live query support"
is there a plan to support this

thanks

[2015-08-14 06:41] sudaraD opened #80 "OrientDB CreateDatabasePool error..."
OClient.CreateDatabasePool("127.0.0.1", 2480, "GreatfulDeadConcerts", ODatabaseType.Graph, "root", "hello", 5, "myTestDatabaseAlias");

after execute got an exception--

stack trace

[IndexOutOfRangeException: Index was outside the bounds of the array.]
   Orient.Client.Protocol.Serializers.BinarySerializer.ToByte(Byte[] data) +34
   Orient.Client.Protocol.Connection.ExecuteOperation(T operation)

[2015-09-08 08:27] cpoyraz opened #82 "nuget version"
I think the nuget version is different from this fork. If so, could you please update it?

[2015-09-12 20:51] stefanocastriotta opened #83 "Error inserting string value with newlines"
Inserting string values with newlines (\n) and carriage returns (\r) throws an exception.
This test fails:
        [Test]
        public void ShouldInsertValuesWithNewLines()
        {
            _database
                         .Create.Class("TestClass")
                         .Run();

            ODocument document = new ODocument();
            document.OClassName = "TestClass";

[2015-09-12 20:59] stefanocastriotta commented on #83
I fixed in my fork at commit: https://github.com/stefanocastriotta/OrientDB-NET.binary/commit/4fac2def20232af8f88eb3f240576d5b3c17cf20

[2015-09-12 21:16] stefanocastriotta opened #84 "Error inserting string value with backslash"
Inserting string values with backslash (\) throws an exception.
This test fails:
[Test]
public void ShouldInsertValuesWithBackslash()
{
_database
.Create.Class("TestClass")
.Run();

        ODocument document = new ODocument();
        document.OClassName = "TestClass";
        document
            .SetField("foo", "foo string value \\ test te5435ttrtr")
            .SetField("bar", 12345);

[2015-09-12 22:08] stefanocastriotta commented on #84
Fixed in commit https://github.com/stefanocastriotta/OrientDB-NET.binary/commit/1f82e8c3cc30add1d4c8a45e612dcaafee75ef26, there was also an issue reading strings with trailing backslashes.

[2015-09-12 22:25] stefanocastriotta opened #85 "Error inserting array with null values"
Inserting a record with a string array with null values throws a NullReferenceException.
TestProfileClass:
    public class TestProfileClass : OBaseRecord
    {
        public string Name { get; set; }
        public string Surname { get; set; }
        public string[] StringArray { get; set; }
    }

Test:
[Test]
        public void ShouldInsertObjectWithNullStringArrayValues()
        {

[2015-09-13 15:53] stefanocastriotta opened #86 "Error inserting array value with a single null value"
That might be a corner case, but i found another issue when importing data from an existing mongodb source: trying to insert an array property with a single null value gives an exception.
This is the test case:
[Test]
        public void ShouldInsertObjectWithSingleNullArrayItem()
        {
            // prerequisites
            _database
                .Create.Class<TestProfileClassExtended>()

[2015-09-14 22:39] stefanocastriotta opened #88 "Error inserting embedded objects with IEnumerable and IDictionary properties"
As reported also by other users, there's a problem inserting records with IEnumerable and IDictionary embedded properties, for example a List<T> or a Dictionary<T>.
This is the test case:
        [Test]
        public void ShouldInsertObjectWithNestedObjectList()
        {
            // prerequisites
            _database
                .Create.Class<TestProfileClassExtended>()
                .

[2015-09-25 08:43] Radiv3 commented on #9
Has anyone considered supporting Gremlinq? https://github.com/Loupi/Frontenac/wiki/Gremlinq

From the description: "Gremlinq is a Blueprints ORM and graph traversal language based on Gremlin and LINQ."

Gremlinq is part of Frontenac (Blueprints implementation for .Net). Support for Frontenac in OrientDB would be great.

[2015-10-20 13:29] dmikov opened #90 "Cannot update Binary field."
Following code generates exception in Response.cs during execution of last line.

            using (var database = new ODatabase("OrientDbPool"))
            {

                database.Create.Class("WithBinary").Extends("V").Run();
                database.Create.Property("name", OType.String).Property("value", OType.Binary).Class("WithBinary").Run();
                var test = new WithBinary()

[2015-11-06 21:56] thejjmiller opened #91 "Load balanced connection pools"
I have a 3 node distributed OrientDb cluster. How would you setup my Connection in the .NET driver to load balance/fail over?

[2015-11-16 09:32] dagimf opened #93 "Is record level security implementeed ??"
hello i was just wondering if record level security is implemented in the binary, i tried looking for an implementation for the ORestricted class and could not find it.

If its not implemented , then i was thinking of using clusters as a sandboxing security. Woiuld love your inputs. Thanks in advance,

[2015-11-24 14:31] cpoyraz opened #94 "Embedded sample"
I try to use embedded list property with List<MyClass>  .. I could not succed to insert a record with embedded list property.. Please Is there any good sample source?

[2015-12-27 10:51] mkhalid12 opened #97 "Massive Insert in OrientDB-Net API ?"
How should I implement massive insert in OrientDB I have 10K Vertex have almost 1M Edges how should i Load as fast as possible? Currently i am using this for loop and it takes more than 20 mins to complete.
Please suggest some feasible solution.

List _listRating = LoadRatings(_PathRatings);
foreach (Rating r in _listRating)
{
i++;
oDB.Command(" create edge rated from (select from Users where user

[2015-12-30 11:27] mkhalid12 commented on #97
@lvca  Hi, please guide me about this?

[2016-01-13 16:12] csabakiss commented on #70
Hi YannVia,

We are having the same issue. Could you fixed this, or did you find a workaround?
Thanks!

[2016-02-16 08:56] YannVia commented on #70
Hi csabakiss,
Due to this issue we developped our own .net API to connect OrientDB in JSON with transaction.

Regards

[2016-02-25 23:12] vbugarsk commented on #63
In my case it hangs when trying to create database pool (OClient.CreateDatabasePool). It stops in Orient.Client.Protocol.Response class:

Status = (ResponseStatus)reader.ReadByte();

@GoorMoon , any advice ?

I am running OrientDb on Win7...

[2016-03-02 10:19] luigidellaquila commented on #93
Hi @dagimf

Record level security is implemented on the server side, so it does not depend on the client. I'd say you can use it without any problems

Thanks

Luigi

[2016-04-05 00:27] DarrenARBell opened #98 "Saving Emoji not working"
Hi
I'm trying to save text that contains items such as emoji's, e.g. 👉. I can save the same text directly in the management UI. So I don't think that it is a database configuration issue, its currently set to UTF8 which is correct AFAIK. I believe that the issue is around the area where the string is serialized to binary for transport across the wire. I see a similar old issue [https://github.com/

[2016-04-29 06:03] nevers commented on #16
Any update regarding this?

[2016-05-25 09:05] sudaraD opened #100 "Retrieving EmbeddedMap type to .net Side.."
I am using this API Libraries to connect and get data from orient DB.. But i am stuck when using EmbeddedMap.. Please Help me to solve this..

[2016-05-30 16:54] emman-ok commented on #100
Can you be more specific?

[2016-05-30 17:00] sudaraD commented on #100
Our db has class name "Apps" and it has a property called "settings" . This
property type is embeddedMap and link type is string.

I want a sample code by using this API to retrieve settings value to .net
side..

Thank you.
On 30 May 2016 22:25, "emman_ok" <notifications@github.com> wrote:

[2016-06-20 20:58] jritter716 commented on #63
I am having the same issue. It just hangs when I try to create a database pool. Very frustrating. It works fine on my machine but hangs when I run it on the server.

[2016-06-20 22:17] GrayDelacluyse commented on #63
@jritter716 Can you give provide some details on your configuration and what your code looks like to create a pool?

The code base has significantly changed since the original issue was posted, have you tested recently?

[2016-06-21 04:21] BlitzinBuffalo commented on #63
Hello, I am also facing the same problem with the hanging when I try to create a connection pool.
Here's what my code looks like:

public class OrientDbContext : IDisposable
{
    public OrientDbContext()
    {
        CreatePool();
    }

    private static string _hostname = "127.0.0.1";
    private static int _port = 2424;
    private static string _username = "admin";
    private static string

[2016-06-21 12:24] aligin commented on #63
Hello. The same issue. Server was started from latest docker image.
The code hangs up (IOException) on

    Status = (ResponseStatus)reader.ReadByte();

AND new issue. I get into an infinite loop on reconnection.
The Exception above returns you to

            var i = RetryCount;
            while (i-- > 0)
            {
                try
                {
                    return ExecuteOpera

[2016-06-21 12:47] GrayDelacluyse commented on #63
@BlitzinBuffalo I was able to recreate your example without issues
![image](https://cloud.githubusercontent.com/assets/11075097/16229605/295b180c-3783-11e6-9f7f-322d6f05bde5.png)

Would you double check your configuration information and upload a copy of orientdb-server-config.xml if you are still having issues.

Also, do you see anything in the logs on the orientdb server side

@aligin It sounds

[2016-06-21 13:55] #65 closed

[2016-06-21 13:56] #66 closed

[2016-06-21 13:57] GrayDelacluyse commented on #59
@gohsianghwee if this is still a problem feel free to submit a pull request and we will evaluate.

[2016-06-21 13:57] #59 closed

[2016-06-21 13:57] GrayDelacluyse commented on #58
@gohsianghwee if this is still a problem feel free to submit a pull request and we will evaluate.

[2016-06-21 13:57] #58 closed

[2016-06-21 13:58] #82 closed

[2016-06-21 13:59] GrayDelacluyse commented on #82
Nuget repo is updated and maintained at https://www.nuget.org/packages/OrientDB-Net.binary.Innov8tive/

[2016-06-21 15:54] aligin commented on #63
A can't even make OClient.CreateDatabasePool.
So. I tested a while. What I did:
1. Started local Enterprise (for Developers) version of DB (default settings). Tried to connect to it by 127.0.0.1. The same error. Tried to connect to testdatabase (GratefulDeadConcerts) and create new one. The sae issue. Tried to connect with yours console app and with my basin ASP.NET project.
2. Next I made a docke

[2016-06-21 17:18] GrayDelacluyse commented on #63
@aligin I've been able to recreate the issue utilizing the latest version of the DB with your configuration.  I believe I have an idea where the problem is with the change in how passwords are handled.  Let me dig in today and see what we can figure out.  If you need it immediately working 2.1.X of the DB works currently.

[2016-06-21 17:24] aligin commented on #63
Thanks a lot. I've started to work with large graph DB and decided to choose orientdb due to license benefits compared with neo4j. I hope I've made a right choice.

[2016-06-21 20:20] sagarmaniar opened #103 "Cannot read from port 2424"
Hello All,

When I try to connect (run) the application from the visual studio. I get the following error:

"Unable to read data from the transport connection: A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond"

The following are the logs are the finest level:

*****

[2016-06-22 03:28] GrayDelacluyse commented on #63
@aligin The issue is caused by a change in protocol on DB_OPEN and DB_CONNECT.  I've updated the driver to reflect but before publishing I'm still trying to fix a change on DB_CREATE.

[2016-06-22 10:31] aligin commented on #63
Ok then. I've started to work with 2.1 version until the issue is solve.

[2016-06-22 14:48] aligin commented on #103
@sagarmaniar I guess It's the same as #63. Use 2.1.X database until issue solves.

[2016-06-22 19:10] BlitzinBuffalo commented on #63
@GrayDelacluyse Sorry for the late reply. I reverted to 2.1 on my laptop and I am able to connect to the db. But I'm looking forward to the update as our production db is 2.2

[2016-06-23 12:33] sagarmaniar commented on #103
Thank you so much! for your reply. Are they planning to fix it in next release? @aligin

[2016-06-23 12:49] aligin commented on #103
@sagarmaniar Yep. @GrayDelacluyse is working for it.

[2016-06-23 14:16] GrayDelacluyse commented on #103
@sagarmaniar @aligin Looks like I have it almost complete.  I would expect to be pushing out the update today.  That being said, if you could pull and test when I do that would be extremely useful.

[2016-06-23 14:31] sagarmaniar commented on #103
@GrayDelacluyse sure, could do that. Let me know when you push the changes.

[2016-06-23 20:32] GrayDelacluyse commented on #103
@sagarmaniar @aligin The Repo has been updated along with the nuget package which is now at 1.5.

[2016-06-23 20:34] GrayDelacluyse commented on #63
@BlitzinBuffalo @jritter716 Please update and try now

[2016-06-24 02:04] luizbon commented on #63
Just tried and does not work yet...
It get stuck in CreateDatabasePool
Still need to work with version 2.1.X

[2016-06-24 07:42] aligin commented on #103
@GrayDelacluyse Thanks a lot. At first sight it's working. If any issues I'll write.

[2016-06-24 07:42] GrayDelacluyse commented on #63
@luizbon could you confirm which way you are pulling in the driver (nuget/manual).  Also, which version of Orient are you using?

I just double checked by creating a new console project against a 2.2.3 database.  This is what my code looks like.

[code]

[2016-06-24 08:06] luizbon commented on #63
@GrayDelacluyse I'm using latest version from NuGet and latest version from Docker, which is version 0.1.5 for driver and version 2.2.3 for OrientDB.
I get stuck in this piece of code:

    OClient.CreateDatabasePool(
                serverHost,
                2424,
                databaseName,
                ODatabaseType.Graph,
                username,
                password,

[2016-06-24 08:12] GrayDelacluyse commented on #63
@luizbon Could you enable binary driver logging and upload what your server log looks like after you attempt to connect.

Instructions on how to setup logging is located [here](http://orientdb.com/docs/2.2/Network-Binary-Protocol.html)

[2016-06-24 17:11] jritter716 commented on #63
Reverting to 2.1 solved the issue for me. Although, I now get a loop of "reached maximum concurrent connections" message. That's probably a bug in my code though.

[2016-06-24 20:42] BlitzinBuffalo commented on #63
@GrayDelacluyse v0.1.5 works great with 2.2.0. Thanks a milion :+1:

[2016-06-26 01:23] luizbon commented on #63
My bad, my image was outdated with version 2.2.2. Updated to version 2.2.3 and it worked.

Thanks @GrayDelacluyse !

[2016-06-26 01:26] luizbon opened #105 "Async supprt"
Is there any plans to make this library async?

[2016-06-26 19:17] cpoyraz commented on #103
İf it is solved, please update the nuget package.

[2016-06-27 11:29] aligin commented on #105
It'll be very cool to async support. But it would be good to introduce true ASP.NET support IServiceCollection implementation without static DataBasePoolConnection.

[2016-06-27 12:21] aligin opened #106 "NullReferenceException on Load non existing record"
I caught an interesting exception.
When loading non existing record with non existing CLUSTER I catch OExeption as expected.
But when load non existing record with existing cluster ID I catch NullReferenceException
in

    public class OLoadRecord
    {
      .....
        public ODocument Run()
        {
            var operation = new LoadRecord(_orid, _fetchPlan, _connection.Database);

[2016-06-27 12:36] GrayDelacluyse commented on #103
@cpoyraz  The Nuget package has been udpated https://www.nuget.org/packages/OrientDB-Net.binary.Innov8tive/ current version is 0.1.5

[2016-06-27 12:36] #103 closed

[2016-06-27 12:42] GrayDelacluyse commented on #106
@aligin Nice investigation, I believe this would actually be a OrientDB issue and not the client since Error should be returned from the DB.

You would need to open a issue here
https://github.com/orientechnologies/orientdb

[2016-06-27 12:42] #106 closed

[2016-06-27 15:45] GrayDelacluyse commented on #105
@luizbon @aligin
We (Innov8tive) actually just took over the development of the .Net Driver, http://orientdb.com/innov8tive-orientdb/

We are in the process of creating a roadmap, but our first focus will be on performance.  We are looking at a number of options for this and we should have more details in the near future.  However, we do support pull request and encourage community development.

T

[2016-06-27 15:45] #105 closed

[2016-06-28 12:26] dagimf commented on #93
Thanks Man.

[2016-06-28 12:26] #93 closed

[2016-07-01 20:26] jritter716 commented on #63
Why closed? I downloaded 2.2.3. Works on my development box but not production server.

[2016-07-01 21:31] GrayDelacluyse commented on #63
@jritter716 could you enable binary driver logging and upload the output after attempting to connect

[2016-07-03 09:40] aligin commented on #91
So. I'm facing the same problem. As I mentioned, in the current architecture there are no possibility to use this feature. I think there should be changes in OClient.CreateDatabasePool(). It must open connections to all instances that should be received from user. There should be some sort of healthchecks and for example roundrobin request balancing between different database contexts.
For now I w

[2016-07-04 05:13] jritter716 commented on #63
2016-07-03 23:10:21:652 INFO  Loading configuration from: E:/Pondr/orientdb-community-2.2.3/config/orientdb-server-config.xml... [OServerConfigurationLoaderXml]
2016-07-03 23:10:21:917 INFO  OrientDB Server v2.2.3 (build 2.2.x@r2f229613abac00036c2fa1b59ab5d1e8a882d6de; 2016-06-20 06:46:10+0000) is starting up... [OServer]
2016-07-03 23:10:21:932 INFO  Databases directory: E:\Pondr\orientdb-communi

[2016-07-05 12:39] #63 closed

[2016-07-05 12:42] GrayDelacluyse commented on #98
@DarrenARBell Would you include a sample of the code you are using and the insert statement?

[2016-07-05 12:43] GrayDelacluyse commented on #97
@mkhalid12 cleaning up old issues, did you get this figured out?

[2016-07-07 14:04] lyquocnam opened #110 "Need a sample for winform CRUB"
hi author, i like orientDB so much, so if we have some sample project for winform this will be awesome !

[2016-07-08 15:58] samirski opened #111 "Adding a LINQ provider to this project"
Hi there. First of all thank you for not abandoning the project and making it OrientDB 2.2 compatible. While the approach does allow the developers to interact with OrientDB from .Net code I think the overall usage and the experience will greatly improve is this implementation would have a LINQ provider implemented. This is more or less the standard this days when some sort of interaction with a d

[2016-07-08 16:25] GrayDelacluyse commented on #111
Hi @samirski, we appreciate the feedback.  Since adopting the client we have considered many different directions and approaches to take and value the input from the community on what they would like to see.

[2016-07-08 16:56] samirski commented on #111
Hi @GrayDelacluyse, the issue I see here is fact that OrientDB is not really known among the .net developers. So it's like chicken or the egg problem. To get the feedback, the usage needs to be higher, but to increase the usage, a nicely implemented solution is needed first. Maybe you should distribute a survey or write a blog post on the ideas and see what happens next. This is just a suggestion.

[2016-07-08 17:16] #111 closed

[2016-07-08 21:51] GrayDelacluyse commented on #111
@samirski We fully support pull request, I would love to see a base implementation.

[2016-07-21 12:05] dagimf opened #112 "Error when retrieving an object with a field of type Dictionary<string, decimal>"

[2016-07-27 14:00] alextobias48 opened #113 "Error when using .NET driver"
I'm having issues getting the .NET driver to connect to a server running orientdb. I followed the instructions in the wiki and I get the error: "Requested value 'none' was not found".

I read somewhere that this error is because the NuGet package for this project isn't up to date. Will the NuGet package be updated any time soon? Or is there another way to use this driver?

Thanks!

[2016-07-27 19:46] GrayDelacluyse commented on #113
Hi @alextobias48

The Nuget package is fully up to date with the repo.

I would be happy to try and help figure out the issue is.  Can you give more information on where the error occurs and the full details with errors.

Thanks,
Gray

[2016-07-28 11:48] GrayDelacluyse commented on #112
@dagimf Sorry about the late reply.  if you could include your code sample that would be great

[2016-07-29 10:36] dagimf commented on #112
Here is the class i am using. Basically the exception happens when the ODocument is converted to c# equivalent model using the To method. The code i am using to run the program is below the class as well. I actually redesigned my db to not use dictionary, so i have found a work around.

The Model:
[code]

The test code:
[code]

[2016-08-10 17:31] almerak commented on #77
not found ORecordBytes class in the driver, :( , is soported by net driver?, or not?

[2016-08-10 18:20] GrayDelacluyse commented on #77
Can you give me an example of what you are trying to use from the DB side?

[2016-08-15 00:00] silverfox1948 opened #114 "Some sample code to create a Vertex class with a unique index on one of the properties?"
I need to create a unique index on a custom vertex class. Can you provide an example of some C# code to accomplish this, please?

[2016-08-15 00:42] silverfox1948 commented on #73
@cwaldron
It's fairly common to use standard capitalized domain space acronyms (of which ORID is one) as all capitals in C#. I believe in this case ORID is perfectly fine.

[2016-08-15 08:19] aligin opened #115 "Creating uniq ID fields with sequence.next()"
I encountered a problem when export-import DB the RIDs changes on the records. So after some googling I found that RID may be recycled after removing the record. And really after the import of the DB RIDs can change.

There are some ways to create really uniq id.
One of the ways is to create sequence. And I think because of all records are V type there should be only one sequence for all nodes. So

[2016-08-15 16:39] GrayDelacluyse commented on #115
@aligin What's your goal, I'm not really sure what you are trying to solve here in your own code.

[2016-08-15 18:05] #113 closed

[2016-08-15 18:27] aligin commented on #115
I must have a unique Id of my record, that I can refer in the other services. I thought that RID is that unique immutable identifier, but it's not. When you export DB (backup) and then reimport the RIDS of your records can change. So I've created the field Id. I've created the sequence. But to properly add new record I must do

    var id = database.Query<Sequence>("select sequence('idseq').next()

[2016-09-13 18:53] cmadubuko opened #118 "_database.Create.Class<T>().Extends<OVertex>().CreateProperties().Run();"
I am trying to implement a simple generic method to automatically generate properties of a T generic type.
Currently the code throws an object reference exception.

[2016-09-13 18:55] GrayDelacluyse commented on #118
Can you please attach a code sample of your implementation.

[2016-09-13 19:00] cmadubuko commented on #118
Thanks for your quick response.
I am thinking that if i have many classes that i need to map their properties, there should a generic way to do this.
See sample code below.

private void MapAllClasses(string MappingAssesmbly)
        {
            var types = Assembly.Load(MappingAssesmbly).GetTypes().Where(p => typeof(IMappable).IsAssignableFrom(p) && p.IsClass && !p.IsAbstract);

            for

[2016-10-21 20:13] sitty opened #119 "Transaction.AddEdge method throwing InvalidCastException."
I'm creating a graph of people and and their accounts. I have Contact and Company as vertices and an Edge(named Account) from the company to Contact. Contacts have links to more than one Companies. I'm trying to do a bulk load of this so I'm using database.Transaction class. Below is my code.
[code]
randomly the database.Transaction.AddEdge throws the following InvalidCastException
Unable to cast

[2016-10-22 15:16] GrayDelacluyse commented on #119
Could you turn on verbose binary logging and upload the output you see from the server at that time?

[2016-10-24 14:48] sitty commented on #119
This is what I got in the log files.
2016-10-24 10:44:02:309 FINE  {db=TESTDB} onOpen [OLuceneIndexFactory]
2016-10-24 10:44:02:318 FINE  {db=TESTDB} Request id:1 type:41 [ONetworkProtocolBinary]
2016-10-24 10:44:02:352 FINE  {db=TESTDB} Read record #0:1 v.101 size=14725 bytes [OLocalPaginatedStorage]
2016-10-24 10:44:02:368 FINE  {db=TESTDB} Request id:1 type:41 [ONetworkProtocolBinary]
2016-10-2

[2016-10-26 18:56] sitty commented on #119
I figured out the issue.  The bug in is the OTranscation.appendOridToField method. Is issue in the the following lines.
[code]

document.SetField is setting the return of HashSet.Add method (which is a bool) instead of set the HashSet itself. You could change it as

[code]

[2016-11-01 13:46] edikep2000 opened #121 "Batch Operations"
Hi Everyone, Is there support for something similiar to SqlBulkInsert in this version fo your driver. Kindly respond on time

[2016-11-02 14:22] sitty opened #122 "Distributed mode error."
Can anyone comment on this thread http://stackoverflow.com/questions/40363810/orientdb-distributed-mode-net-client-error
Is there some .net example for using orientdb distributed mode?
Thanks.

[2016-12-12 07:10] hosseinGanjyar opened #124 "Documentation"
I need a documentation for implement orientdb in c#, but don't find any document for this issue.
thanks

[2016-12-12 08:46] lvca commented on #124
@tglman could you help @hosseinGanjyar on this?

[2016-12-15 07:51] tbertels opened #125 "Backtick property names to avoid parsing errors"
When running this query:
`myDB.Create.Property("batch", OType.Boolean).Class("aClass").Run();`

I get this error:
Error parsing query: CREATE PROPERTY aClass.batch BOOLEAN Encountered " <BATCH> "batch "" at line 1, column 26. Was expecting one of: <TO> ... <VALUE> ... <VALUES> ... <SET> (...)

So, according to https://github.com/orientechnologies/orientdb/issues/7001#issuecomment-266767026 I backt

[2016-12-15 14:27] tbertels opened #126 "Cannot properly backtick property name with SetField"
To use space, dash or question mark in a property name, it needs to be backticked.
This works great with myDB.Create.Property, but SetField keeps the backticks and create new properties with backticks in the name.

So while
[code]
will create a class `myClass `with a property named `myProperty`, using after that
[code]
will add a property
[code]
and give it a value of aValue and the property `myPr

[2016-12-16 07:15] tbertels opened #127 "Create.Edge(e) doesn't keep edge OClassName"
[code]
The generated SQL command is this:
[code]
And the edge is created with the default class E instead of the class OClassName.

[2016-12-19 12:26] tbertels opened #128 "Import /yojimbo87/OrientDB-NET.binary/wiki"
https://github.com/yojimbo87/OrientDB-NET.binary/wiki contains valuable resources.
They should be imported here.

[2016-12-19 18:28] aoighost commented on #124
This is blocking my use of this for implementation as well.

[2016-12-20 20:49] lukasmerta commented on #124
at least some docs are in old repo wiki
https://github.com/yojimbo87/OrientDB-NET.binary/wiki
some use cases are also in Test
https://github.com/orientechnologies/OrientDB-NET.binary/tree/master/src/Orient.Nunit.Test
but yes, there is no documentation on official pages and there are also missing comments on public interface so it's very hard to start using this DB (native "so called" official supp

[2016-12-20 22:04] GrayDelacluyse commented on #124
Thank you for the feedback.  The wiki from yojimbo87 is out of date and no longer in sync with the office repository.  However, we happily support pull request from the community as the driver is an open source project.  Please feel free to contribute.

[2016-12-20 22:04] #124 closed

[2016-12-20 22:05] GrayDelacluyse commented on #128
The wiki is no longer up to date with the current repository.

[2016-12-20 22:05] #128 closed

[2016-12-23 11:48] tbertels opened #129 "Implement an OrientDataReader"
When querying a lot of data, using a DataReader is useful and sometimes necessary to avoid running out of memory.
Here's some information about it:

[Retrieving Data Using a DataReader](https://msdn.microsoft.com/en-us/library/haa3afyz(v=vs.110).aspx)
[IDataReader Interface](https://msdn.microsoft.com/en-us/library/system.data.idatareader(v=vs.110).aspx)

[2016-12-23 16:10] GrayDelacluyse commented on #129
I don't understand the issue.  Could you please provide more information on the problem you are having?

[2016-12-23 17:03] tbertels commented on #129
I've added an example of use and a link to the functionality on the server side.
A DataReader makes it easy to retrieve data from a large query without running out of memory.

[2017-02-24 05:19] snarlynarwhal opened #131 "How do we execute a server function?"
I found the [Functions documentation](http://orientdb.com/docs/2.0/orientdb.wiki/Functions.html) and read the Usage via Java API section, but could not find the equivalent functions in the C# API. :(

[2017-02-24 10:08] sharper89 opened #132 "Using fetchplans to build nested tree objects in .Net"
Hello,
i read that you can using fetchplans to build nested tree objects with query.

This is my graph. I use a _traverse_ to get my structure.

![image](https://cloud.githubusercontent.com/assets/26001485/23298766/2fe3d8ac-fa7f-11e6-90a2-9f4b6bfe088c.png)

Now I have tried the following code:

` var oDoc = db.Query<ODocument>("traverse * from(select from ProjectStructure WHERE StrucId = 'F8E2E8F4

[2017-02-25 21:07] edikep2000 commented on #118
have you been able to fix this???

[2017-02-27 02:07] GrayDelacluyse commented on #131
You should be able to execute the function inside a standard query instead.

[2017-02-27 02:07] #131 closed

[2017-02-27 02:09] GrayDelacluyse commented on #132
Currently the driver will not return nested ODoc objects, you would have to rebuild the tree from the included metadata

[2017-02-27 02:09] #132 closed

[2017-02-27 04:45] snarlynarwhal commented on #131
How do I do that? Can't seem to find documentation for executing a function via sql.

[2017-02-27 08:15] cmadubuko commented on #118
No I have not. Is there a solution i can apply.

Regards,
Christian Madubuko

On Sat, Feb 25, 2017 at 10:07 PM, edikep2000 <notifications@github.com>
wrote:

[2017-02-27 13:56] GrayDelacluyse commented on #131
Select functionName()

[2017-03-03 18:54] cmassei opened #134 "Transaction error on commit"
Hello,
when I try to commit on a large transaction I get a System.Exception with message “Retry patern exception”. Looking at the stack trace I see a SocketException, it seems like the connection is dropped due to a timeout or a lack of response.
It happens only with a large amounts of objects, when the transaction takes a long time to execute.

I experienced this error with versions 2.2.0 and 2.2

[2017-03-15 08:48] HuangKBAaron opened #135 "Doesn't support type of System.UInt32 nor System.UInt64?"
I am not sure why it doesn't support System.UInt32 nor System.UInt64?
FYI, it is from line 124 of src\OrientDB-Net.binary.Innov8tive\Protocol\Serializers\RecordCSVSerializer.cs

[2017-03-15 08:54] HuangKBAaron opened #136 "The Exception is not explicitly clear enough for debugging"
It was really took me a long time to feature out lib doesn't support System.UInt32, because of line 164 of \src\OrientDB-Net.binary.Innov8tive\Protocol\Serializers\RecordCSVSerializer.cs
`throw new NotImplementedException();`
It might be better to indicate the type inforamtion, like
`throw new NotImplementedException(String.Format("type '{1}' of value '{0}' doesn't supported.", value, value.GetTyp

[2017-03-22 18:56] bernierm commented on #129
+1. The issue is that all of the results of a queries are loaded into memory (ie, ToList()) at execution. This is fine for trivial data sets, but not practical for large sets. The paging described in the link is a workaround, but ideally a developer would like to foreach through the results, as you would in a traditional DataReader.

[2017-03-29 11:15] anderbakk opened #137 "Tree-based RidBag not deserialized correctly"
I have a vertex connected to several other vertices with the same edge type.

For 39 edges the RecordCSVSerializer.cs works fine (RidBag embedded mode), but once I reach 40 or more the ODocument will contain an empty list of ORIDs.

RecordCSVSerializer.cs => ParseRidBags()
The size (var size = reader.ReadInt32EndianAware(); ) is always set to -1 when RidBag is in Tree-based mode, and the value for

[2017-03-29 15:10] GrayDelacluyse commented on #137
This is actually a problem with the server side on the binary protocol.  The .Net and Node binary drivers experience the same behavior.

[2017-03-29 15:16] lvca commented on #137
That's right, the server must have the following setting (in `orientdb-server-settings.xml` or in `server.sh/.bat`):

`-DridBag.embeddedToSbtreeBonsaiThreshold=100000000'

Or any high number, so it never transform the linkbag in a tree, because only the Java driver support it.

[2017-04-05 19:28] jmcdaniel83 opened #138 "Creating an already existing Class into a database produces an unhandled NullReference Exception"
Have found an issue with trying to provide an already existing class into a database.  To be clear a simple check can be done as in the following:

[code]

The issue that I found is what exception is thrown when a user doesn't remember to wrap this in an if-block.  We are provided not an `OException` but an unhandled `Exception`.

[code]

It would be helpful to have an `OException` that would expl

[2017-04-05 19:50] jmcdaniel83 opened #139 "Retrieving the properties defined for a class is a bit nonintuitive"
## Introduction

I was working with injecting properties into a class' schema, but then when a property name wasn't in the proper format it would only add a subset of the total properties I wanted into a class.  This caused me to have to get a list of property names that are already defined so that I only add the newer ones to the class.

However, I found that the current API is not very intuitive

[2017-04-05 20:06] jmcdaniel83 commented on #125
I would agree that this should be done through the API, I as a user should not have to provide the backticks for property names.  I was hitting this issue when starting property names with digits and special characters like `/`.

### Digit Example
[code]

Produces the error:
[code]

### Special Character Example
[code]

Produces the error:
[code]

[2017-04-05 20:15] jmcdaniel83 commented on #126
To help out with this issue, I'm using the `ODocument` object and found it working through that object.  Hopefully, this is similar to your use case.  But I found that even though you have to provide the backticks when creating class property names, when you set a field value that references the generated property name you no longer have to provide the backticks.

### Example
[code]

[2017-04-14 04:43] realityenigma commented on #139
I will take a look at your proposal as it fits into the new binary driver being developed. Thank your for your recommendation :)

[2017-04-14 04:45] realityenigma commented on #138
I will look into implementing this feature in the new binary driver being developed. It makes perfect sense.

[2017-04-14 04:48] realityenigma commented on #136
This seems like a reasonable request. I will look into implementing it with the new binary driver.

[2017-04-22 05:47] cwaldron commented on #73
Names of Classes, Structs, and Interfaces
The naming guidelines that follow apply to general type naming.
✓ DO name classes and structs with nouns or noun phrases, using PascalCasing.
This distinguishes type names from methods, which are named with verb phrases.

https://msdn.microsoft.com/en-us/library/ms229040(v=vs.110).aspx

[2017-04-23 04:07] GrayDelacluyse commented on #73
The work is being shifted into the the driver.

[2017-04-23 04:07] #73 closed

[2017-06-08 05:33] josephthomas3012 opened #140 "Incorrect Protocol Version"
Hello

using orient db .net driver , when i try to connect to the db , i get exception "Incorrect Protocol Version",
`   OClient.ProtocolVersion = ProtocolVersion = BinarySerializer.ToShort(_readBuffer.Take(2).ToArray());`
here the buffer will have no data, and the ProtocolVersion will be 0.
[code]
Regards

[2017-06-20 13:32] SchroterQuentin commented on #140
Hello,
I have the same issue and my mistake was I was using the wrong port number. 2424 is the good one if I remember well.
Regards

[2017-06-20 13:41] SchroterQuentin opened #142 "Remove multiple fields in the same Update query"
I try to remove multiple fields in a document in one Query. I use the SDK to do it :

[code]

Orient.Client.OException: com.orientechnologies.orient.core.sql.OCommandSQLParsingException: Error on parsing command: Found unexpected keyword 'ATTRIBUT' while it was expected '[=, WHERE, SET, ADD, REMOVE,  ....

 The problem seems to be that the query which was created is the following
[code]
while it s

[2017-06-21 06:28] josephthomas3012 commented on #140
Hello SchroterQuentin
Thanks for the reply.
[code]

2424 is related to binary , even if i set the port to 2424 on http socket setting , i get the same error.
could you please share any other settings, details, so as i can fix this error.

Regards

[2017-06-21 07:08] SchroterQuentin commented on #140
Hello,
If you want to use the driver in C# to connect to the database, you have to use the binary port, it is the port used to communicate. The http port is used fort REST request and web ui.

[2017-06-21 08:31] josephthomas3012 commented on #140
Hello

But when i try to access interface of orient Db with 2424 port i get this error,
[code]
and when i try to access with the driver i get

`An exception of type 'System.OutOfMemoryException' occurred in mscorlib.dll but was not handled in user code`

Regards

[2017-06-21 12:55] SchroterQuentin commented on #140
That's better, now it seems that it's known issue : https://github.com/orientechnologies/orientdb/issues/6311

Check what version of OrientDB you have and what kind of database you choose, if you can't solve it please use a docker image which default parameter.

[2017-06-27 08:43] josephthomas3012 commented on #140
i was using orientdb-community-2.2.20, and now i moved  to orientdb-community-2.2.22 , to my surprise, it started working :)
 Thanks SchroterQuentin for helping me out on this.

[2017-06-29 12:54] #140 closed, assigned to nobody

[2017-07-11 15:48] EvertKors opened #143 "Get JSON string instead of mapped object"
I would like to query the orientdb and deserialize the JSON in a object using the Newtonsoft library.

Is this possible?

[2017-07-11 19:51] #143 closed, assigned to nobody

[2017-07-25 09:32] EvertKors commented on #98
I'm selecting a string where a emoji is present, i tried 2 different methods but both times the 🎉 emoji will translate in ����.

But in the orient studio the emoji is presented as the 🎉 emoji, but the problem is in the translation to .net

![afbeelding](https://user-images.githubusercontent.com/16412162/28565315-2650eedc-712c-11e7-8c6e-809127b5cfdd.png)

![afbeelding](https://user-images.githubuse

[2017-09-29 20:47] jocelynk opened #145 "ODatabase Connection not getting closed"
We are running into an issue where we are reaching the max number of concurrent connections. Even calling `Close()` or `Dispose()` on the database instance, we are seeing the connections not being disposed properly.

In the `Close()` method of the `ODatabase` class it does a check for `_containsConnection`, but that instance variable is never set to true so the connection is never closed. Please a

[2017-10-05 07:58] eskikayab commented on #145
Hi, we are also living the same problem. We modified the source code to test by adding
_containsConnection = true, in the GetConnection method of ODatabase.cs (I send as attachment), but still we are seeing open connections when we list using console.sh by LIST CONNECTIONS command.

We are using two distributed nodes, running multithread console application with 4 threads and 1 static ODatabase ob

[2017-10-05 08:07] eskikayab commented on #145
By the way, we see "Retry patern exception" error in our logs occasionally. We think it is thrown by the following:

![connection](https://user-images.githubusercontent.com/5494013/31216724-496095f2-a9bd-11e7-8d1f-3b669e12b8a9.png)

[2017-10-27 14:18] jocelynk commented on #145
Any update on this issue?

[2017-11-01 10:21] timkeevil opened #146 "OrientDB-Net.binary Adding Vertex via Transaction With Custom Class"
I am new to OrientDB but not to graph structures.

What I am trying to do is use OrientDB-NET.binary package within C# to create a graph. The documentation is a little light but from what I can tell, vertices are added via the transaction object with the method Add<T>. I'm assuming this means that I can add vertex from a custom class (although this class seems to need to be derived from the IBaseR

[2017-11-06 22:17] evilaugust opened #147 "Cannot Set Timeout"
Is there anyway to set the timeout of an insert, update,  or select statement other than running the query with ... TIMEOUT 30000 EXCEPTION on the end? It seems like there should be a way to pass a timeout into the API without having to build every query by hand.

Thank you in advance.

[2017-11-15 17:08] jpamp opened #148 "Traversal Fails after 40 edges"
I am running the OrientDB server in a docker container on my machine.  The orientDB version is 2.2.29

The following query works fine in Studio, but fails when using the driver when I have 40 or more edges.

`Match {class: SecurityRole, where: (@rid = " + rid + "), as : something}.outE(\"SecurityRoleGrantsPermission\"){as: _edge}.inV(){as: Dest} return $elements`

To query with the driver, I am us

[2017-11-15 17:20] jpamp commented on #148
Inside the Orient.Client.Protocol.Response object the code for the Receive() method shows

[code]

But the `followByte` starts as 51, thus I never get an exceptionString.

That explains that lack of a helpful exception message, but gives me know idea what the original cause is.

[2017-11-17 15:57] jpamp commented on #148
According to @luigidellaquila

I confirmed that this resolved my issue

[2017-11-17 15:57] #148 closed, assigned to nobody

[2017-12-06 07:39] holocentric-bmsnext opened #149 "Graph Traverse throws exceptions when there are lots of edges on one node"
When performing a traverse query using

```database.Query('traverse outE(), inV() from (SELECT FROM Object ORDER BY name  SKIP 0 LIMIT 5000))```
If any of the node contains lots of edges,

below exception is thrown.

 at Orient.Client.Protocol.Response.Receive()
   at Orient.Client.Protocol.Connection.ExecuteOperationInternal(IOperation operation)
   at Orient.Client.Protocol.Connection.ExecuteOpe

[2017-12-06 07:50] holocentric-bmsnext opened #150 "Selecting a vertex that contains lots of edges does not return all edges in the ODocument field"
When querying a vertex using database.Select or database.Query, the resulting ODocument does not contains any in or out edges if the vertex has many edges.   (1000+)

[2017-12-06 07:52] holocentric-bmsnext opened #151 "Many open Net.Tcp connections being created over time, the drive does not reuse or close the DBConnection."
There are issues with the connection pool, instead of reusing an existing one every time when a query is executed against the graph database, a new connection is created. This is causing performance as well as memory issues.

[2017-12-06 07:53] holocentric-bmsnext opened #152 "Adding/Updating/Deleting items in a transaction throws null reference exception unless a query has been performed beforehand."
e.g. when adding a new vertex into the database, if we don't fetch something from the database first a null reference exception will be thrown.

var transaction = database.Transaction;

//database.Select().From(new ORID("#0:0"));  <- workaround code
.
.
.
transaction.Add(vertex);
transaction.Commit();

[2017-12-06 15:50] luigidellaquila commented on #150
Hi @holocentric-bmsnext

This is due to the fact that, after a threshold (40 edges by default), edge pointers are stored in a specific structure (called SBTreeBonsai) that is not supported by the .NET driver.

My short-term advice here is to set the ridBag.embeddedToSbtreeBonsaiThreshold (that represents that threshold) on the server to a very high value, so that Bonsai structures are never used

[2017-12-06 15:51] luigidellaquila commented on #149
This is definitely related to https://github.com/orientechnologies/OrientDB-NET.binary/issues/150, so the proposed solution applies to this issue as well

Thanks

Luigi

[2017-12-07 00:20] holocentric-bmsnext opened #153 "Check database exists method is not thread safe"
Database exception being thrown when more than one thread is checking the existence of a DB using different OServer instance.

server.DatabaseExist(storeId, OStorageType.PLocal)

[2017-12-07 00:22] holocentric-bmsnext opened #154 "OServer CreateDatabase sometimes throws database already exists exception"
When creating a new graph database using the OServer CreateDatabase method, it sometimes throws an exception saying that the database is already exists.
There was an empty folder created in the file system for that database.

server.DatabaseExist(storeId, OStorageType.PLocal)

server.CreateDatabase(storeId, ODatabaseType.Graph, OStorageType.PLocal))

When this happen, restarting the OrientDb serve

[2017-12-07 00:25] holocentric-bmsnext commented on #150
Hi Luigi,

Thanks for the quick response. May I know what are the difference between the Bonsai structure and regular embedded pointers? Will there be any impact on performance and memory usage for using the regular pointers? Will the update, traverse operations be slower?

Thanks

[2017-12-07 07:56] luigidellaquila commented on #150
Hi @holocentric-bmsnext

With Embedded Ridbags, all the edge RIDs are stored in the vertex record.

With SBTreeBonsai Ridbags, edge rids are stored in a tree structure, that is saved on a separate file (*.sbc files) and the vertex just contains a pointer to that structure.

Advantages and disadvantages:

- the embedded structure is a bit smaller in terms of disk usage.
- the Bonsai structure allow

[2017-12-30 09:33] bilalhaider opened #155 "Entity's list properties are returned empty"
CollectionNamedFieldMapping swallows exceptions when trying to map individual documents to elements for adding to the collection

https://github.com/orientechnologies/OrientDB-NET.binary/blob/master/src/OrientDB-Net.binary.Innov8tive/Mapping/CollectionNamedFieldMapping.cs line 74

[2017-12-30 12:53] bilalhaider opened #156 "Enum and Guid properties are not stored and retrieved properly"
EnumFieldMapping and GuidFieldMapping implement MapToNamedField as if the values retrieved from the database would be string but these do not override the MapToDocument and use the base method (which does not convert the values into string). MapToDocument should be overridden which should convert the values into string first.

[2017-12-30 18:02] bilalhaider opened #157 "Type mapping cannot handle null values for class fields"
When documents are mapped to typed objects, if a class field's corresponding value in database is null, a NullReferenceException is thrown during type mapping. Would it be better if the default value for the class field is returned instead?

[2018-01-30 15:24] francisminu opened #158 "Live Query"
Hi,

Does this .NET binary support Live Query like the Java and Node JS versions? Did not read about LiveQuery anywhere in the documentation.

[2018-02-08 11:58] bilalhaider commented on #134
Any pointers for this issue?

[2018-02-08 13:44] cmassei commented on #134
Hi @bilalhaider , try to increase the value of RECEIVE_TIMEOUT in Protocol/Connection.cs. It's used to set the ReceiveTimout property for the TcpClient object.

[2018-02-14 12:40] antonyvorontsov opened #159 "Serialization and deserialization problem"
Hi

First of all, sorry for my language, i am not a great english speaker.

There is what i want to do.
I have a model class in my application

[code]
And i want that class to be a vertex class in my database, but without a **Bar** property. Also i want to get some value into the **Bar** property via simple query (e.g. something like:  _select *, "my Bar value" as Bar from MyClass_). So I do not w

[2018-05-22 09:49] parkaran commented on #146
Try doing like this it worked for me and my friend @[RaffaeleMays](https://github.com/RaffaeleMays)
`var a = new MyClass { Name = "A" };
database.DatabaseProperties.ORID = new ORID();
database.Transaction.Add<MyClass>(a);
database.Transaction.Commit();`

[2018-05-23 07:29] parkaran opened #160 "Traverse"
Is there a Way to use Traverse using these drivers, or other ways to query into a graph DB??

[2018-05-23 07:45] RaffaeleMays commented on #160
Same problem:
When I do this
`DB.Query("traverse * from #16:0");`
it give me this exception:

`System.FormatException: L'input non è una stringa Base 64 valida poiché contiene un carattere non Base 64, più di due caratteri di riempimento oppure un carattere non corretto tra i caratteri di riempimento.
   in System.Convert.FromBase64_Decode(Char* startInputPtr, Int32 inputLength, Byte* startDestPtr

[2018-05-23 07:47] parkaran commented on #152
try this before using transaction:
`database.DatabaseProperties.ORID = new ORID();`

[2018-07-12 23:51] surajhes opened #161 "Traversal API"
HI All,
 I am new to C# and using Orient-DB. While going through the Java API's i saw there were lots of API's for getting the Vertices,Edges and also Traversal. Are there any similar API's present in C# ? if so where can i find the usage of them with examples?
If not, how do i perform the same tasks?

[2018-07-23 06:13] tomazk8 opened #162 "Further development"
For 2 years now, there was no update to this client and it was also removed from NuGet. May I ask why? I want to use OrientDB 3.0.x but the binary protocol was changed and requires handshake after opening the connection. Is there a plan to continue the development of this client?

Thanks

[2018-07-23 10:22] lvca commented on #162
Hi @tomazk8, we adopted the driver 2 months ago and now we have developers that are working to release v3.0 soon.

[2018-07-23 10:22] #162 closed, assigned to nobody

[2018-09-10 08:10] lightjiao opened #163 "[RESTful HTTP protocol] Reached maximum number of concurrent connections"
I use [RESTful HTTP protocol](https://orientdb.com/docs/3.0.x/misc/OrientDB-REST.html) to access OrientDB
And I set the [`Connection: close`](https://orientdb.com/docs/3.0.x/misc/OrientDB-REST.html#keep-alive) in the http header

Recently, the orientdb become very slow and have the warning log
[code]

and this is the netstate log
[code]

this is my server network config
[code]

## Here is my quest

[2018-09-18 03:23] user33 commented on #154
please share me the code for oreintdb 2.2.33 database connection through c#.net

[2018-09-18 03:23] user33 commented on #153
please share me the code for oreintdb 2.2.33 database connection through c#.net

[2018-09-18 03:23] user33 commented on #152
please share me the code for oreintdb 2.2.33 database connection through c#.net

[2018-09-18 03:24] user33 commented on #151
please share me the code for oreintdb 2.2.33 database connection through c#.net

[2018-09-18 03:25] user33 commented on #145
please share me the code for oreintdb 2.2.33 database connection through c#.net

[2018-09-18 03:26] user33 commented on #142
please share me the code for oreintdb 2.2.33 database connection through c#.net

[2018-09-18 03:27] user33 commented on #118
please share me the code for oreintdb 2.2.33 database connection through c#.net

[2018-09-18 03:28] user33 commented on #97
please share me the code for oreintdb 2.2.33 database connection through c#.net

[2018-09-18 03:28] user33 commented on #80
please share me the code for oreintdb 2.2.33 database connection through c#.net

[2018-09-18 03:28] user33 commented on #69
please share me the code for oreintdb 2.2.33 database connection through c#.net

[2018-09-18 03:29] user33 commented on #31
please share me the code for oreintdb 2.2.33 database connection through c#.net

[2018-09-18 04:40] user33 opened #164 "@jritter716 could you enable binary driver logging and upload the output after attempting to connect"
Requested value 'none' was not found.
Description: An unhandled exception occurred during the execution of the current web request. Please review the stack trace for more information about the error and where it originated in the code.

Exception Details: System.ArgumentException: Requested value 'none' was not found.

Source Error:

Line 25:
Line 26:
Line 27:             OClient.CreateDatabasePoo

[2018-09-24 10:39] arothenhaeuser commented on #146
I had the same issue and the solution works. Can you explain why?

[2018-10-11 08:32] #164 closed, assigned to nobody

[2018-10-11 08:32] user33 opened #165 "I want to connect orientdb using active directory domain in c#.net.please help how to login orientdb using c# ldap?"
I want to connect orientdb using active directory domain in c#.net.please help
how to login orientdb  using c# ldap?

[2018-10-11 08:32] user33 commented on #165
[or.docx](https://github.com/orientechnologies/OrientDB-NET.binary/files/2468014/or.docx)

[2018-10-31 12:15] DarrenLamb opened #166 "hanging when creating edge with useLightweightEdges enabled"
I'm new to OrientDb (and noSQL databases in general) and have put together a small application to model "friend" relationships.

The "FriendOf" edge is ideally just a link between two Person vertices, I had read in the documentation that the use of lightweight edges may increase performance. The below code works fine when lightweight edges are disabled. However, when enabling them the line to crea

[2019-02-16 20:23] tonykaralis opened #167 "Is this library being maintained"
Am looking to using Orient DB, wondering if this lib is up to date with latest OrientDb version. Havent seen much activity?

[2019-02-20 02:32] GrayDelacluyse commented on #167
Not that I’m aware of, orient posted this one:
https://github.com/orientechnologies/OrientDB.Net but not sure if that is being maintained either

[2019-02-20 02:32] #167 closed, assigned to nobody

[2019-02-22 16:27] dvdnhm opened #168 "ODatabase.Select call keeps running if there no record matches to filter"
I created a simple search for Person vertex

[code]
the query works under a second if the email exist in the vertex and just waits if the record does not exist.

[2020-05-26 12:08] ghost opened #169 "Error connecting to OrientDB Version 3.0.22 with OrientDB-NET.binary"
Could you please let me know how I can connect to OrientDB Version 3.0.22 with OrientDB-NET.binary. It seems the assembly 'Orient.Client' does not support OrientDB Version 3.0.22 and coming up with error "com.orientechnologies.orient.core.exception.OConfigurationException: You can use connect as first operation only for protocol  < 37 please use handshake for protocol >= 37\n"

[2020-10-01 02:13] #159 closed, assigned to nobody

[2022-10-26 14:02] sdq2001 commented on #169
I have exactly the same problem, please give me a solution